{%- assign current_template = template | split: '.' | first -%}
{%- assign class = class | default: 'fs-body-50' -%}
{%- assign breadcrumb_collection = collection -%}
{%- if current_template == 'product' and product != blank and breadcrumb_collection.url == blank and product.collections != blank -%}
  {%- assign breadcrumb_collection = product.collections.first -%}
{%- endif -%}

<nav class="breadcrumbs ff-body {{ class }}" role="navigation" aria-label="breadcrumbs">
  {%- if show_breadcrumbs -%}
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ routes.root_url }}">{{ 'general.navigation.home' | t }}</a>
        <div class="breadcrumbs__icon">/</div>
      </li>
      {%- case current_template -%}
        {%- when 'product' -%}
          {%- if breadcrumb_collection.url -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ breadcrumb_collection.url }}">{{ breadcrumb_collection.title }}</a>
              <div class="breadcrumbs__icon">/</div>
            </li>
          {%- endif -%}
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__current" aria-current="page">{{ product.title }}</span>
          </li>
        {%- when 'collection' and collection.handle -%}
          {%- if current_tags -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ collection.url }}">{{ collection.title }}</a>
              <div class="breadcrumbs__icon">/</div>
            </li>
            <li class="breadcrumbs__item">
              <span class="breadcrumbs__current" aria-current="page">{{- current_tags | join: ' + ' -}}</span>
            </li>
          {%- else -%}
            <li class="breadcrumbs__item">
              <span class="breadcrumbs__current" aria-current="page">{{ collection.title }}</span>
            </li>
          {%- endif -%}
        {%- when 'blog' -%}
          <li class="breadcrumbs__item">
            {% if current_tags %}
              <a class="breadcrumbs__link" href="{{ blog.url }}">{{ blog.title }}</a>
              <div class="breadcrumbs__icon">/</div>
            {%- else -%}
              <span class="breadcrumbs__current" aria-current="page">{{ blog.title }}</span>
            {% endif %}
          </li>
          {% if current_tags %}
            <li class="breadcrumbs__item">
              <span class="breadcrumbs__current" aria-current="page">{{ current_tags | join: ' + ' }}</span>
            </li>
          {% endif %}
        {%- when 'article' -%}
          {%- if blog.url -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ blog.url }}">{{- blog.title -}}</a>
              <div class="breadcrumbs__icon">/</div>
            </li>
          {%- endif -%}
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__current" aria-current="page">{{ article.title | truncate: 40 }}</span>
          </li>
        {%- when 'page' -%}
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__current" aria-current="page">{{ page.title }}</span>
          </li>
      {%- endcase -%}
    </ol>
  {%- endif -%}

  {%- if show_navigation_buttons -%}
    <ol class="navigation-buttons__list">
      {%- if collection.previous_product -%}
        <li class="navigation-buttons__item">
          {{ 'general.navigation.previous' | t | link_to: collection.previous_product }}
        </li>
      {%- endif -%}
      {%- if collection.next_product -%}
        <li class="navigation-buttons__item">
          {{ 'general.navigation.next' | t | link_to: collection.next_product }}
        </li>
      {%- endif -%}
    </ol>
  {%- endif -%}
</nav>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement":
        [
          {
            "@type": "ListItem",
            "position": 1,
            "item":
            {
              "@id": "{{ routes.root_url | prepend: shop.url }}",
              "name": "{{ 'general.navigation.home' | t }}"
            }
          }
          {%- case current_template -%}
            {%- when 'product' -%}
              {%- if breadcrumb_collection.url -%}
                ,{
                  "@type": "ListItem",
                  "position": 2,
                  "item":
                  {
                    "@id": "{{ breadcrumb_collection.url | prepend: shop.url }}",
                    "name": "{{ breadcrumb_collection.title }}"
                  }
                }
              {%- endif -%}
              ,{
                "@type": "ListItem",
                "position": {%- if breadcrumb_collection.url -%}3{%- else -%}2{%- endif -%},
                "item":
                {
                  "@id": "{{ product.url | prepend: shop.url }}",
                  "name": "{{ product.title }}"
                }
              }
            {%- when 'collection' and collection.handle -%}
              {%- if current_tags -%}
                ,{
                  "@type": "ListItem",
                  "position": 2,
                  "item":
                  {
                    "@id": "{{ collection.url | prepend: shop.url  }}",
                    "name": "{{ collection.title }}"
                  }
                },
                {
                  "@type": "ListItem",
                  "position": 3,
                  "item":
                  {
                    "@id": "{{ collection.url | prepend: shop.url }}",
                    "name": "{{ current_tags | join: ' + ' }}"
                  }
                }
              {%- else -%}
                ,{
                  "@type": "ListItem",
                  "position": 2,
                  "item":
                  {
                    "@id": "{{ collection.url | prepend: shop.url }}",
                    "name": "{{ collection.title }}"
                  }
                }
              {%- endif -%}
            {%- when 'blog' -%}
              {%- if current_tags -%}
                ,{
                  "@type": "ListItem",
                  "position": 2,
                  "item":
                  {
                    "@id": "{{ blog.url | prepend: shop.url }}",
                    "name": "{{ blog.title }}"
                  }
                },
                {
                  "@type": "ListItem",
                  "position": 3,
                  "item":
                  {
                    "@id": "{{ blog.url | append: '/tagged/' | append: current_tags.first | prepend: shop.url }}",
                    "name": "{{ current_tags | join: ' + ' }}"
                  }
                }
              {%- else -%}
                ,{
                  "@type": "ListItem",
                  "position": 2,
                  "item":
                  {
                    "@id": "{{ blog.url | prepend: shop.url }}",
                    "name": "{{ blog.title }}"
                  }
                }
              {%- endif -%}
            {%- when 'article' -%}
              ,{
                "@type": "ListItem",
                "position": 2,
                "item":
                {
                  "@id": "{{ blog.url | prepend: shop.url }}",
                  "name": "{{ blog.title }}"
                }
              },
              {
                "@type": "ListItem",
                "position": 3,
                "item":
                {
                  "@id": "{{ article.url | prepend: shop.url }}",
                  "name": "{{ article.title }}"
                }
              }
            {%- when 'page' -%}
              ,{
                "@type": "ListItem",
                "position": 2,
                "item":
                {
                  "@id": "{{ page.url | prepend: shop.url }}",
                  "name": "{{ page.title }}"
                }
              }
          {%- endcase -%}
        ]
      }
    </script>
