{%- liquid
  comment
    Renders the mobile drawer navigation and nests further mobile drawers as needed.
    Can show menu images up to the 2nd level if the mobile menu image block is included in the header.

    Required parameters:
      - links: { Object } The linklists[menu].linkslinks or linklists[secondary_menu].links passed through from the header.

    Optional parameters:
      - parents_only: { Boolean } Will not show nested menus if true, ex. in secondary links in the drawer-menu.
      - depth: { Number } Tracking menu depth per iteration of the drawer-menu-list snippet.
      - has_mobile_menu_images: { Boolean } If true, links within the verified menu handle will show images.
      - mobile_menu_image_blocks: { Object } Passing in only the blocks that enable menu images to iterate over.
      - second_level_mobile_menu_image_link_handles: { Object } All second level menu handles to iterate and apply specific block settings.
      - mobile_menu_image_aspect_ratio: { String } Passes the specific block style settings. Can be:
        - Natural, Square, Portrait, Landscape
      - mobile_menu_image_width: { Number } Passes the specific block style settings.
  endcomment

  assign menu_depth = depth | plus: 1 | default: 1
  assign enable_expand_first = enable_expand_first | default: false
  assign accordion_item_total = 0
  assign accordion_item_index = 0

  assign children_allowed = true
  if parents_only
    assign children_allowed = false
  endif

  if menu_depth == 2
    for accordion_link in links
      if accordion_link.levels > 0 and children_allowed
        assign accordion_item_total = accordion_item_total | plus: 1
      endif
    endfor
  endif
-%}

{%- for link in links -%}
  {%- liquid
    assign expand_first = false
    assign is_primary_cta = false
    assign use_accordion = false
    assign accordion_id = blank
    assign is_last_accordion_item = false
    assign child_has_mobile_menu_images = false
    assign child_mobile_menu_image_aspect_ratio = blank
    assign child_mobile_menu_image_width = blank

    if menu_depth == 1 and link.title == 'Find My System'
      assign is_primary_cta = true
    endif

    if menu_depth == 1 and second_level_mobile_menu_image_link_handles contains link.handle
      assign child_has_mobile_menu_images = true

      for block in mobile_menu_image_blocks
        assign current_menu_handle = block.settings.menu_name | handle

        if current_menu_handle == link.handle
          assign child_mobile_menu_image_aspect_ratio = block.settings.aspect_ratio
          assign child_mobile_menu_image_width = block.settings.thumbnail_width
          break
        endif
      endfor
    endif

    assign has_children = false
    if link.levels > 0 and children_allowed
      assign has_children = true
    endif

    if forloop.first and has_children and menu_depth == 1 and enable_expand_first
      assign expand_first = true
    endif

    if menu_depth == 2 and has_children and expand_first == false and is_primary_cta == false
      assign use_accordion = true
      assign accordion_id = 'drawer-accordion-' | append: menu_depth | append: '-' | append: link.handle | append: '-' | append: forloop.index0
      assign accordion_item_index = accordion_item_index | plus: 1

      if accordion_item_index == accordion_item_total
        assign is_last_accordion_item = true
      endif
    endif

    assign child_is_active = false
    for link in link.links
      if link.active
        assign child_is_active = true
        break
      elsif link.links.size > 0
        for link in link.links
          if link.active
            assign child_is_active = true
            break
          endif
        endfor
      endif
    endfor

    if blocks.size > 0
      for block in blocks
        assign dropdown_parent_handle = block.settings.dropdown_parent_link | handle | strip
        if link.handle == dropdown_parent_handle and has_children
          if block.type == 'product_meganav'
            assign show_product = true
            assign product_list = block.settings.product_list
            assign expand_first = false
            break
          endif
        endif
      endfor

      for block in blocks
        assign meganav_settings_handle = block.settings.dropdown_parent_link | handle | strip
        if link.handle == meganav_settings_handle and has_children
          if block.type == 'full_width_meganav' or block.type == 'compact_meganav'
            assign show_promo = true
            assign meganav_settings = block.settings
            assign meganav_type = block.type
            assign expand_first = false
            break
          endif
        endif
      endfor
    endif
  -%}

  <li
    class="
      drawer-menu__item
      {% if has_children and is_primary_cta == false -%}
        drawer-menu__item--has-sub
      {%- endif %}
      {% if use_accordion -%}
        drawer-menu__item--accordion
      {%- endif %}
      {% if is_last_accordion_item -%}
        drawer-menu__item--accordion-last
      {%- endif %}
      {% if emphasized -%}
        drawer-menu__item--emphasized
      {%- endif %}
      {% if emphasized and forloop.last -%}
        drawer-menu__item--emphasized-last
      {%- endif %}
    "
    data-list-item
  >
    <a
      data-item="{% if has_children and expand_first == false and is_primary_cta == false and use_accordion == false %}parent{% else %}link{% endif %}"
      class="{% if is_primary_cta %}drawer-menu__link--primary-cta btn btn--dark btn--full{% else %}drawer-menu__link{% endif %} {%- if has_children and is_primary_cta == false and use_accordion == false %} no-transition{%- endif -%} {%- if link.active or child_is_active %} active{%- endif -%} {%- if link.handle == handleized_featured_link_label %} featured-link{%- endif -%}"
      href="{{ link.url }}"
      {% if has_children and expand_first == false and is_primary_cta == false and use_accordion == false %}
        data-link="primary"
        aria-haspopup="true"
        aria-expanded="false"
      {% endif %}
    >
      <div class="drawer-menu__link-title {% if expand_first == false and is_primary_cta == false %}{% if use_accordion or menu_depth == 2 %} drawer-menu__link-title--2 ff-subheading fs-body-400{% else %} ff-heading fs-heading-4-base ff-primary{% endif %}{% endif %}">
        {% # Render mobile product or collection images if enabled %}
        {% if has_mobile_menu_images %}
          {% render 'mobile-menu-image-thumbnail',
            link: link,
            aspect_ratio: mobile_menu_image_aspect_ratio,
            thumbnail_width: mobile_menu_image_width
          %}
        {% endif %}

        <span class="">
          {{ link.title }}
        </span>
      </div>
      {%- if has_children and expand_first == false and is_primary_cta == false and use_accordion == false -%}
        {% render 'icon', icon: 'chevron-right', view_box_custom: '0 0 7 11', class: 'menu-icon' %}
      {%- endif -%}
    </a>
    {%- if use_accordion -%}
      <button
        type="button"
        class="drawer-menu__accordion-toggle"
        data-item="accordion"
        aria-expanded="false"
        aria-controls="{{ accordion_id }}"
        aria-label="{{ link.title }}"
      >
        {% render 'icon', icon: 'chevron-down', view_box_custom: '0 0 11 7', class: 'menu-icon' %}
      </button>
    {%- endif -%}

    {% # Render sub navigation %}
    {%- if expand_first and link.links.size > 0 -%}
      <ul class="drawer-menu__list drawer-menu__list--expand">
        {% render 'drawer-menu-list',
          links: link.links,
          depth: menu_depth,
          parent_index: parent_index,
          blocks: blocks
        %}
      </ul>
    {%- elsif link.links.size > 0 and expand_first == false %}
      <ul
        class="drawer-menu__list drawer-menu__list--sub drawer-menu-list--{{ menu_depth }}{% if use_accordion %} drawer-menu__list--accordion-content{% endif %}"
        aria-hidden="true"
        {% if use_accordion %}
          id="{{ accordion_id }}"
        {% endif %}
      >
        {% assign header_has_link = false %}
        {% if link.url != '#nolink' %}
          {% assign header_has_link = true %}
        {% endif %}

        {%- capture featured_products_content -%}
            {%- if has_children and meganav_settings.featured_products and meganav_settings.featured_products != blank -%}
              <li class="drawer-menu__item">
                <div class="drawer-menu__item--featured-products">
                  {% for _product in meganav_settings.featured_products %}
                    {%- render 'product-item', prod: _product, aspect_ratio: 'square' -%}
                  {% endfor %}
                </div>
              </li>
            {%- endif -%}
          {%- endcapture -%}

        {%- capture drawer_card_list -%}
          {% for i in (1..4) %}
            {%- assign card_image_key = 'card_' | append: i | append: '_image' -%}
            {%- assign card_title_key = 'card_' | append: i | append: '_title' -%}
            {%- assign card_subtitle_key = 'card_' | append: i | append: '_subtitle' -%}
            {%- assign card_link_text_key = 'card_' | append: i | append: '_link_text' -%}
            {%- assign card_link_key = 'card_' | append: i | append: '_link' -%}
            {%- assign card_image = meganav_settings[card_image_key] -%}
            {%- assign card_title = meganav_settings[card_title_key] -%}
            {%- assign card_subtitle = meganav_settings[card_subtitle_key] -%}
            {%- assign card_link_text = meganav_settings[card_link_text_key] -%}
            {%- assign card_link = meganav_settings[card_link_key] -%}
            {%- if card_image == blank -%}
              {%- continue -%}
            {%- endif -%}

            {%- if card_link != blank -%}
              <a href="{{ card_link }}" class="meganav__card w-full">
            {%- else -%}
              <div class="meganav__card w-full">
            {%- endif -%}
              <div class="meganav__card-image">
                {%- assign card_image_alt = card_image.alt | strip | default: card_title | strip -%}
                {{ card_image | image_url: width: 500 | image_tag: loading: 'lazy', fetchpriority: 'low', decoding: 'async', alt: card_image_alt, width: card_image.width, height: card_image.height, widths: '250, 350, 500', sizes: '45vw' }}
              </div>
              {%- if card_title != blank -%}
                <h4 class="meganav__card-title ff-subheading fs-body-250">{{ card_title }}</h4>
              {%- endif -%}
              {%- if card_subtitle != blank -%}
                <span class="meganav__card-subtitle ff-body fs-body-50">{{ card_subtitle }}</span>
              {%- endif -%}
              {% if card_link_text != blank %}
                {%- render 'button-block' with
                  wrapper_class: "mt-2",
                  label: card_link_text,
                  button_style: 'btn--callout'
                -%}
              {% endif %}
            {%- if card_link != blank -%}
              </a>
            {%- else -%}
              </div>
            {%- endif -%}
          {% endfor %}
        {%- endcapture -%}

        {% unless use_accordion %}
          <li class="drawer-menu__item drawer-menu__item--heading">
            <span
              class="drawer-menu__item--heading-back-link"
              data-item="back"
              aria-label="{{ 'general.accessibility.back' | t }}"
            >
              {% render 'icon', icon: 'chevron-left', view_box_custom: '0 0 7 11' %}
              <span class="ff-body fs-body-50">{{ 'general.accessibility.back' | t }}</span>
            </span>
            <a
              class="drawer-menu__link drawer-menu__link--heading"
              data-heading="true"
              {% if header_has_link %}
                href="{{ link.url }}"
              {% endif %}
            >
              <span class="ff-heading fs-heading-4-base ff-primary">{{ link.title }}</span>
            </a>
          </li>
        {% endunless %}

        {% if meganav_settings.show_featured_products and meganav_settings.product_position == 'left' %}
          {{ featured_products_content }}
        {% endif %}

        {% render 'drawer-menu-list',
          links: link.links,
          depth: menu_depth,
          parent_index: parent_index,
          has_mobile_menu_images: child_has_mobile_menu_images,
          mobile_menu_image_aspect_ratio: child_mobile_menu_image_aspect_ratio,
          mobile_menu_image_width: child_mobile_menu_image_width
        %}
        {% assign drawer_shop_all_link = meganav_settings.shop_all_link | default: link.url %}
        {% if meganav_settings.shop_all_text != blank %}
          <li class="draw-menu__item draw-menu__item--shop-all">
            <a href="{{ drawer_shop_all_link }}" class=" drawer-menu__link">
              <div class="drawer-menu__link-title  drawer-menu__link-title--2 ff-subheading fs-body-400">
                <span>
                  {{ meganav_settings.shop_all_text }}
                </span>
              </div>

            </a>
          </li>
        {% endif %}
        {% if drawer_card_list != blank %}
          <li class="draw-menu__item draw-menu__item--cards">
            <div class="grid grid-cols-2 gap-[10px] p-0">
              {{ drawer_card_list }}
            </div>
          </li>
        {% endif %}
        {%- unless expand_first and menu_depth > 1 -%}
          {%- if show_product -%}
            <li class="draw-menu__item draw-menu__item--product">
              <div class="grid grid-cols-2 gap-[10px] p-0">
                {% for product in product_list %}
                  {%-
                    render 'product-item' with
                    prod: product,
                    disable_controls: false
                  -%}
                {% endfor %}
              </div>
            </li>
          {%- endif -%}
          {%- if has_children and show_promo and meganav_settings.show_promo -%}
            {%- if meganav_type == 'full_width_meganav' or meganav_type == 'compact_meganav' -%}
              {%- liquid
                assign overlay_opacity = meganav_settings.overlay_opacity | divided_by: 100.0
                assign text_position = meganav_settings.text_position | split: '_'
                assign horizontal_position = text_position | first
                assign vertical_position = text_position | last
              -%}
              <li class="draw-menu__item draw-menu__item--promo mt-auto">
                <div
                  class="meganav-promo meganav-promo--draw-menu"
                  style="
                    --secondary-width: 100%;
                    --min-promo-height: {{ meganav_settings.promo_height }}px;
                    --text-horizontal-position: {{ horizontal_position }};
                    --text-vertical-position: {{ vertical_position }};
                    --color-promo-text: {{ meganav_settings.text_color }};
                    --overlay-background: {{ meganav_settings.color_overlay }};
                    --overlay-opacity: {{ overlay_opacity }};
                    {% if meganav_settings.color_overlay_gradient != blank %}
                      --overlay-background-gradient: {{ meganav_settings.color_overlay_gradient }};
                    {% endif %}
                  "
                >
                  {%- assign meganav_promo_fallback_alt = meganav_settings.image.alt | strip | default: meganav_settings.promo_text | strip | default: meganav_settings.link_text | strip -%}

                  {%- if meganav_settings.link != blank -%}
                    <a href="{{ meganav_settings.link }}" class="meganav__promo-image-link">
                  {%- endif -%}
                  {%-
                    render 'image' with
                    wrapper_class: "meganav__promo-image",
                    image: meganav_settings.image,
                    mobile_image: meganav_settings.image_mobile,
                    object_fit: 'cover',
                    focal_point: 'image_presentation',
                    aspect_ratio: "externally_set",
                    fallback_alt: meganav_promo_fallback_alt
                  -%}
                  {%- if meganav_settings.link != blank -%}
                    </a>
                  {%- endif -%}

                  <div class="meganav__secondary-promo-overlay"></div>

                  <div class="meganav__secondary-promo-text">
                    {% unless meganav_settings.promo_text == blank %}
                      <h3 class="ff-heading fs-heading-5-base ff-primary meganav__secondary-promo-text-heading">
                        {{ meganav_settings.promo_text }}
                      </h3>
                    {% endunless %}
                    {% if meganav_settings.link and meganav_settings.link != blank %}
                      {%-
                        render 'button-block' with
                        wrapper_class: "meganav__secondary-promo-text-button",
                        label: meganav_settings.link_text,
                        link: meganav_settings.link,
                        allow_linkless: true
                      -%}
                    {% endif %}
                  </div>
                </div>
              </li>
            {%- endif -%}
          {%- endif -%}
        {%- endunless -%}

        {% if meganav_settings.show_featured_products and meganav_settings.product_position == 'right' %}
          {{ featured_products_content }}
        {% endif %}
      </ul>
    {%- endif -%}
  </li>
{%- endfor -%}
