{%- liquid
  comment
    minimal product experience
    Pass in:
    * block
    * prod
    * render_shopify_attributes (optional) - render block.shopify_attibures
    * quick_add_enabled
  endcomment

  if prod.has_only_default_variant
    assign product_has_variants = false
  else
    assign product_has_variants = true
  endif

  # Quick add takes precedence over quick view
  # Use quick view for products with variants and sold out products
  if quick_add_enabled and prod.available
    if product_has_variants
      assign quick_shop_type = 'quick-view'
      assign quick_shop_button_text = 'products.product.choose_options' | t
    else
      assign quick_shop_type = 'quick-add'
      assign quick_shop_button_text = 'products.product.add_to_cart' | t
    endif
  elsif settings.enable_quick_view
    assign quick_shop_type = 'quick-view'
    assign quick_shop_button_text = 'products.product.quick_view' | t
  else
    assign quick_shop_type = 'none'
  endif
-%}

{% if quick_shop_type != 'none' %}
  {% capture quick_shop_button_attributes %}
    data-quick-shop-trigger="{{ quick_shop_type }}"
    {% if quick_shop_type == 'quick-add' %}
      data-product-id="{{ prod.variants[0].id }}"
    {% else %}
      data-product-url="{{ prod.url }}"
    {% endif %}
  {% endcapture %}

  {% capture quick_shop_button %}
    <button
      class="product-card-video__quick-view-button"
      aria-label="{{ quick_shop_button_text | escape }}"
      title="{{ quick_shop_button_text | escape }}"
      {{ quick_shop_button_attributes }}
    >
      {% render 'icon', icon: 'quick-add' %}
      <div class="btn__loading-wrap">
        <div class="btn__loading-bar"></div>
      </div>
    </button>
  {% endcapture %}
{% endif %}

{% liquid
  # wrap add-to-cart buttons in a product form for no-js or if purchase confirmation and quick cart are disabled
  if quick_shop_type == 'quick-add'
    capture product_form_tags
      echo '<input class="product-card-video__product-form-variant-input" name="id" type="hidden" value="[[vi]]">' | replace: '[[vi]]', prod.variants[0].id
    endcapture

    capture quick_shop_button
      form 'product', prod, class: 'product-item__product-form'
        echo product_form_tags
        echo quick_shop_button
      endform
    endcapture
  endif
%}

<div
  class="product-card-video {{ class }}"
  {% if render_shopify_attributes %}
    {{- block.shopify_attributes -}}
  {% endif %}
>
  {% if quick_shop_type != 'none' %}
    {{ quick_shop_button }}
  {%- endif -%}
</div>
