
{%- if block_settings.product_list != blank -%}
  {%-liquid
    assign product_list = product.metafields.custom.product_list.value
    assign title_arr = product_list.titles.value
  -%}
  <div id="product-list-{{ shopify_attributes }}" class="product__block product__block--medium product__block-list">
    {%- if block_settings.heading != blank -%}
      <h3 class="product-list__title fs-body-100">{{- block_settings.heading -}}</h3>
    {%- endif -%}
    <div class="product-list__items" role="list">
      {%- for prod in block_settings.product_list -%}
        {%-liquid
          assign product_title = title_arr[forloop.index0] | default: prod.title
          assign image_value = prod.metafields.custom.thumbnail_image.value | default: prod.featured_media
        -%}
        <div class="product-list__item">
          <a class="product-list__item--link" href="{{ prod.url | within: collection }}" aria-label="{{- product_title -}}">
            <span class="product-list__item--image">
              {%- render 'image',
                image: image_value,
                prioritize_loading: true,
                fetch_priority: 'low',
                include_placeholder: true,
                src_set_type: "grid"
              -%}
            </span>
            <h4 class="product-list__item--title ff-body fs-body-75">{{- product_title -}}</h4>
          </a>
        </div>
      {%- endfor -%}
    </div>
  </div>

{%- endif -%}
