{%- liquid
  assign prioritize_loading = false
  if section.index == 1
    assign prioritize_loading = true
  endif

  assign overlay_opacity = section.settings.overlay_opacity | divided_by: 100.0
  assign text_position = section.settings.text_position | split: '_'
  assign fit_height_content = section.settings.fit_height_content | default: false
  assign horizontal_position = text_position | first
  assign vertical_position = text_position | last

  assign text_position_modifier = 'center'

  if horizontal_position == 'flex-start'
    assign text_position_modifier = 'left'
  elsif horizontal_position == 'flex-end'
    assign text_position_modifier = 'right'
  endif

  assign text_position_mobile = section.settings.text_position_mobile | split: '_'
  assign horizontal_position_mobile = text_position_mobile | first
  assign vertical_position_mobile = text_position_mobile | last

  assign text_position_modifier_mobile = 'center'

  if horizontal_position_mobile == 'flex-start'
    assign text_position_modifier_mobile = 'left'
  elsif horizontal_position_mobile == 'flex-end'
    assign text_position_modifier_mobile = 'right'
  endif

  assign placeholder_aspect_ratio = 'no-ratio'

  if section.settings.image_aspect == 'original'
    assign placeholder_aspect_ratio = 'square'
  endif

  assign has_section_content = false
  for block in section.blocks
    case block.type
      when 'heading'
        if block.settings.title != blank
          assign has_section_content = true
        endif
      when 'text'
        assign text_check = block.settings.text | strip_html | strip
        if text_check != blank
          assign has_section_content = true
        endif
      when 'button'
        if block.settings.link_text != blank or block.settings.link != blank
          assign has_section_content = true
        endif
    endcase
  endfor
-%}

{% if has_section_content or request.design_mode %}
<div
  {% if section.settings.anchor_id != blank %}id="{{ section.settings.anchor_id | strip | handleize }}"{% endif %}
  class="
    image-hero
    image-hero--image-aspect-{{ section.settings.image_aspect }}
    image-hero--text-{{ text_position_modifier }}
    image-hero--text-mobile-{{ text_position_modifier_mobile }}
    {% if section.settings.enable_box_container == true %}
      image-hero--box
    {% endif %}
    {% if section.settings.fit_height_content == true %}
      image-hero--fit-height-content
    {% endif %}
    {% if section.settings.fit_height_content == true and section.settings.enable_image_cover == true %}
      image-hero--image-cover
    {% endif %}
    {% if section.settings.logo != blank or section.settings.logo_mobile != blank %}
      image-hero--has-logo
    {% endif %}
    {% if section.settings.show_breadcrumbs %}
      image-hero--show-breadcrumbs
    {% endif %}
    section
    section--full-width
    {{ section.settings.section_padding }}
    {% if settings.enable_section_animations and section.settings.enable_animation %}
      animation
      animation--image-hero
    {% endif %}
    {% if section.settings.enable_hero_video == true and section.settings.video_url_hero != blank %}
      js-video-media
    {% endif %}
    link-color-scheme--{{ section.settings.link_color_scheme }}
  "
  data-section-id="{{ section.id }}"
  data-section-type="image-hero"
  style="
    --custom-height: {{ section.settings.desktop_height }}vh;
    --custom-height-mobile: {{ section.settings.mobile_height }}vh;
    --text-horizontal-position: {{ horizontal_position }};
    --text-vertical-position: {{ vertical_position }};
    --text-horizontal-position-mobile: {{ horizontal_position_mobile }};
    --text-vertical-position-mobile: {{ vertical_position_mobile }};
    --color-text: {{ section.settings.text_color }};
    --color-text-link: {{ section.settings.text_color }};
    --overlay-background: {{ section.settings.color_overlay }};
    {% if section.settings.color_overlay_gradient != blank %}
      --overlay-background-gradient: {{ section.settings.color_overlay_gradient }};
    {% endif %}
    --overlay-opacity: {{ overlay_opacity }};
    --content-width: {{ section.settings.content_width }}px;
    --top-left-corner-radius: {{ section.settings.top_left_corner_radius }}px;
    --top-right-corner-radius: {{ section.settings.top_right_corner_radius }}px;
    --bottom-left-corner-radius: {{ section.settings.bottom_left_corner_radius }}px;
    --bottom-right-corner-radius: {{ section.settings.bottom_right_corner_radius }}px;
    {%- assign logo_pos = section.settings.logo_position | split: '_' -%}
    {%- assign logo_pos_mobile = section.settings.logo_position_mobile | split: '_' -%}
    --logo-justify: {{ logo_pos | first }};
    --logo-align: {{ logo_pos | last }};
    --logo-justify-mobile: {{ logo_pos_mobile | first }};
    --logo-align-mobile: {{ logo_pos_mobile | last }};
    --logo-width: {{ section.settings.logo_width }}px;
    --logo-width-mobile: {{ section.settings.logo_width_mobile }}px;
    --object-fit: {% if fit_height_content and section.settings.enable_image_cover %}cover{% else %}{{ section.settings.image_size }}{% endif %};
    {% render 'overlay-button-vars' with color_button_text: section.settings.button_text_color, color_button_background: section.settings.button_background_color %}
  "
>
  <div class="image-hero__inner">
    {%- if section.settings.enable_hero_video == true and section.settings.video_url_hero != blank -%}
      <video-control class="hero__media-container">
        {%- if prioritize_loading -%}
          <link rel="preload" href="{{ section.settings.video_url_hero }}" as="video" type="video/mp4" />
        {%- endif -%}
        <div class="hero__video-wrapper">
          {%- assign video_poster = section.settings.image | image_url: width: 400 -%}
          {%- render "video",
            video: section.settings.video_url_hero,
            poster: video_poster,
            controls: false,
            enable_play_pause_button: false,
            loop: true,
            prioritize_loading: prioritize_loading
          -%}
          <div class="image-hero__video-controls">
            <button class="image-hero__video-toggle video-play-button js-button-video played" aria-label="Play/pause" aria-pressed="false">
              <span class="image-hero__video-toggle-content video-button-content--play">
                {%- render "play-icon",
                  class: "image-hero__video-toggle-icon"
                -%}
                <span class="sr-only">{{ 'general.accessibility.play' | t }}</span>
              </span>
              <span class="image-hero__video-toggle-content video-button-content--pause">
                {%- render "pause-icon",
                  class: "image-hero__video-toggle-icon"
                -%}
                <span class="sr-only">{{ 'general.accessibility.pause' | t }}</span>
              </span>
            </button>
          </div>
        </div>
      </video-control>
    {%- else -%}
      <div class="image-hero__image-container">
        {%- liquid
          if fit_height_content and section.settings.enable_image_cover
            assign image_object_fit = 'cover'
          else
            assign image_object_fit = section.settings.image_size
          endif
        -%}
        {%- render 'image',
          wrapper_class: "image-hero__image",
          image: section.settings.image,
          mobile_image: section.settings.image_mobile,
          sizes: "100vw",
          focal_point: section.settings.focal_point,
          mobile_focal_point: section.settings.mobile_focal_point,
          include_placeholder: true,
          placeholder_natural_fallback_ratio: placeholder_aspect_ratio,
          placeholder_name: "lifestyle-2",
          animate: true,
          object_fit: image_object_fit,
          src_set_type: "full-width",
          prioritize_loading: prioritize_loading
        -%}
      </div>
    {% endif %}
    <div class="image-hero__overlay"></div>

    <div class="image-hero__text-container-wrapper {% if section.settings.enable_hero_video == true %} image-hero__text-video {% endif %}">
      {%- if section.settings.show_breadcrumbs -%}
        <div class="image-hero__breadcrumbs-shell">
          <div class="image-hero__breadcrumbs-container section">
            <div class="image-hero__breadcrumbs">
              {%- render 'breadcrumbs',
                show_breadcrumbs: true,
                class: 'fs-body-50'
              -%}
            </div>
          </div>
        </div>
      {%- endif -%}

      <div class="image-hero__text-container image-hero__text-container--narrow">
        {%- unless section.settings.media_link == blank -%}
          <a
            href="{{ section.settings.media_link }}"
            class="image-hero__image-link"
            aria-label="{{ section.settings.media_link }}"
          ></a>
        {%- endunless -%}

        <div class="image-hero__text-container-inner section-blocks animation--section-blocks">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'accent' -%}
                {%- unless block.settings.accent == blank -%}
                  <p class="image-hero__text-container-accent fs-accent section-blocks__accent">
                      {{ block.settings.accent }}
                  </p>
                {%- endunless -%}
              {%- when 'heading' -%}
                {%- unless block.settings.title == blank -%}
                  <{{ block.settings.heading_tag | default: 'h2' }} class="image-hero__text-container-heading ff-heading {{ block.settings.heading_font_class }} {{ block.settings.font_family_class  }} {% if section.settings.text_color == 'rgba(0,0,0,0)' or section.settings.text_color == blank %}{{ block.settings.heading_color }}{% endif %} section-blocks__heading">
                    {{ block.settings.title }}
                  </{{ block.settings.heading_tag | default: 'h2' }}>
                {%- endunless -%}
              {%- when 'subheading' -%}
                {%- unless block.settings.subheading == blank -%}
                  <h2
                    class="image-hero__text-container-subheading ff-subheading {{ block.settings.subheading_font_class }} {{ block.settings.font_family_class  }} {% if section.settings.text_color == 'rgba(0,0,0,0)' or section.settings.text_color == blank %}{{ block.settings.subheading_color }}{% endif %} section-blocks__subheading"
                    {% if block.settings.enable_subheading_transparent_color and block.settings.subheading_transparent_color != blank %}
                      style="color: transparent; background:{{ block.settings.subheading_transparent_color }}; background-clip: text;"
                    {% endif %}
                  >
                    {{ block.settings.subheading }}
                  </h2>
                {%- endunless -%}
              {%- when 'text' -%}
                {%- unless block.settings.text == blank -%}
                  <div class="image-hero__text-container-text image-hero__text-container-text--spaced rte ff-body {{ block.settings.text_font_class }} section-blocks__text {% if section.settings.text_color == 'rgba(0,0,0,0)' or section.settings.text_color == blank %}{{ block.settings.custom_text_color }}{% endif %}">
                      {{ block.settings.text }}
                  </div>
                {%- endunless -%}
              {%- when 'image' -%}
                {%-
                  render 'image-block' with
                  shopify_attributes: block.shopify_attributes,
                  wrapper_class: 'image-hero__text-container-image  section-blocks__image',
                  image: block.settings.image,
                  width: block.settings.image_size,
                  mobile_width: block.settings.image_size_mobile,
                  break_to_mobile_at: '480',
                  align: text_position_modifier,
                  align_mobile: text_position_modifier_mobile,
                  prioritize_loading: prioritize_loading
                -%}
              {%- when 'button' -%}
                {%-
                  render 'button-block' with
                  wrapper_class: "image-hero__text-container-image-button image-hero__text-container-image-button--spaced section-blocks__button",
                  link: block.settings.link,
                  label: block.settings.link_text,
                  button_style: block.settings.button_style,
                  button_color: block.settings.button_color,
                  is_overlay: true,
                  button_alignment: text_position_modifier,
                  button_alignment_mobile: text_position_modifier_mobile,
                  buttons_can_inline: true,
                  forloop: forloop
                -%}
              {%- when 'play-button' -%}
                {%-
                  render 'play-button-block' with
                  wrapper_class: 'image-hero__text-container-image-play-button section-blocks__video-button',
                  shopify_attributes: block.shopify_attributes,
                  poster_image: block.settings.poster_image,
                  poster_aspect: block.settings.aspect_ratio,
                  video_url: block.settings.video_url,
                  label: block.settings.text,
                  button_alignment: text_position_modifier,
                  button_alignment_mobile: text_position_modifier_mobile,
                  icon_style: block.settings.icon_style
                -%}
              {%- when 'border' -%}
                {%- render 'border-block' -%}
              {%- when 'spacer' -%}
                {%- render 'spacer-block' with space: block.settings.space -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>

      {%- if section.settings.logo != blank or section.settings.logo_mobile != blank -%}
        <div class="image-hero__logo">
          {%- render 'image' with
            image: section.settings.logo | default: section.settings.logo_mobile,
            mobile_image: section.settings.logo_mobile | default: section.settings.logo,
            sizes: '(max-width: 719px) ' | append: section.settings.logo_width_mobile | append: 'px, ' | append: section.settings.logo_width | append: 'px',
            wrapper_class: 'image-hero__logo-img',
            fallback_alt: shop.name,
            src_set_type: 'grid',
            prioritize_loading: prioritize_loading,
            fetch_priority: 'auto'
          -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "t:sections.image_hero.name",
  "tag": "section",
  "class": "shopify-section--full-width",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:shared.settings.anchor.content"
    },
    {
      "type": "text",
      "id": "anchor_id",
      "label": "t:shared.settings.anchor.anchor_id.label",
      "info": "t:shared.settings.anchor.anchor_id.info"
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "id": "show_breadcrumbs",
      "type": "checkbox",
      "label": "t:shared.settings.show_breadcrumbs.label",
      "default": false
    },
    {
      "type": "header",
      "content": "Hero Video Settings"
    },
    {
      "id": "enable_hero_video",
      "type": "checkbox",
      "label": "t:sections.video_hero.settings.enable_hero_video.label",
      "default": false
    },
    {
      "type": "url",
      "id": "video_url_hero",
      "label": "t:sections.video_hero.settings.video_url.label",
      "info": "t:sections.video_hero.settings.video_url.info"
    },
    {
      "type": "header",
      "content": "Hero Image Background Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_box_container",
      "label": "t:sections.video_hero.settings.enable_box_container.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "fit_height_content",
      "label": "Fit Height To Content",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_image_cover",
      "label": "t:sections.image_hero.settings.image_cover.label",
      "default": false,
      "visible_if": "{{ section.settings.fit_height_content == true }}"
    },
    {
      "id": "image_size",
      "type": "select",
      "label": "t:shared.section_blocks.image.settings.image_size.label",
      "options": [
        { "label": "t:shared.settings.media_fit.option_contain", "value": "contain" },
        { "label": "t:shared.settings.media_fit.option_cover", "value": "cover" }
      ],
      "default": "contain",
      "info": "t:sections.image_hero.settings.bg_media_fit.info",
      "visible_if": "{{ section.settings.fit_height_content == false }}"
    },
    {
      "type": "radio",
      "id": "image_aspect",
      "label": "t:sections.image_hero.settings.image_aspect.label",
      "options": [
      { "value": "original", "label": "t:sections.image_hero.settings.image_aspect.option_original" },
      { "value": "custom", "label": "t:sections.image_hero.settings.image_aspect.option_custom" }
      ],
      "default": "custom",
      "visible_if": "{{ section.settings.fit_height_content == false }}"
    },
    {
      "type": "range",
      "id": "desktop_height",
      "label": "t:sections.image_hero.settings.height.label",
      "unit": "%",
      "min": 20,
      "max": 100,
      "step": 5,
      "default": 100,
      "visible_if": "{{ section.settings.fit_height_content == false }}"
    },
    {
      "type": "range",
      "id": "mobile_height",
      "label": "t:sections.image_hero.settings.mobile_height.label",
      "unit": "%",
      "min": 20,
      "max": 100,
      "step": 5,
      "default": 100,
      "visible_if": "{{ section.settings.fit_height_content == false }}"
    },
    {
      "type": "paragraph",
      "content": "t:sections.image_hero.settings.height_paragraph.content",
      "visible_if": "{{ section.settings.fit_height_content == false }}"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image_hero.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.image_hero.settings.image_mobile.label"
    },
    {
      "id": "focal_point",
      "type": "select",
      "label": "t:shared.settings.focal_point.label",
      "options": [{"label":"t:shared.settings.focal_point.option_image","value":"image_presentation"},{"label":"t:shared.settings.focal_point.option_center","value":"center"},{"label":"t:shared.settings.focal_point.option_top","value":"top"},{"label":"t:shared.settings.focal_point.option_bottom","value":"bottom"},{"label":"t:shared.settings.focal_point.option_left","value":"left"},{"label":"t:shared.settings.focal_point.option_right","value":"right"}],
      "default": "image_presentation"
    },
    {
      "id": "mobile_focal_point",
      "type": "select",
      "label": "t:sections.image_hero.settings.mobile_focal_point.label",
      "options": [{"label":"t:shared.settings.focal_point.option_image","value":"image_presentation"},{"label":"t:shared.settings.focal_point.option_center","value":"center"},{"label":"t:shared.settings.focal_point.option_top","value":"top"},{"label":"t:shared.settings.focal_point.option_bottom","value":"bottom"},{"label":"t:shared.settings.focal_point.option_left","value":"left"},{"label":"t:shared.settings.focal_point.option_right","value":"right"}],
      "default": "image_presentation"
    },
    {
      "type": "url",
      "id": "media_link",
      "label": "t:sections.image_hero.settings.media_link.label"
    },
    {
      "id": "text_position",
      "type": "select",
      "label": "t:sections.image_hero.settings.text_position.label",
      "options": [
        { "label": "t:shared.settings.alignment_matrix.option_top_left", "value": "flex-start_flex-start" },
        { "label": "t:shared.settings.alignment_matrix.option_top_center", "value": "center_flex-start" },
        { "label": "t:shared.settings.alignment_matrix.option_top_right", "value": "flex-end_flex-start" },
        { "label": "t:shared.settings.alignment_matrix.option_middle_left", "value": "flex-start_center" },
        { "label": "t:shared.settings.alignment_matrix.option_middle_center", "value": "center_center" },
        { "label": "t:shared.settings.alignment_matrix.option_middle_right", "value": "flex-end_center" },
        { "label": "t:shared.settings.alignment_matrix.option_bottom_left", "value": "flex-start_flex-end" },
        { "label": "t:shared.settings.alignment_matrix.option_bottom_center", "value": "center_flex-end" },
        { "label": "t:shared.settings.alignment_matrix.option_bottom_right", "value": "flex-end_flex-end" }
      ],
      "default": "center_center"
    },
    {
      "id": "text_position_mobile",
      "type": "select",
      "label": "t:sections.image_hero.settings.text_position_mobile.label",
      "options": [
        { "label": "t:shared.settings.alignment_matrix.option_top_left", "value": "flex-start_flex-start" },
        { "label": "t:shared.settings.alignment_matrix.option_top_center", "value": "center_flex-start" },
        { "label": "t:shared.settings.alignment_matrix.option_top_right", "value": "flex-end_flex-start" },
        { "label": "t:shared.settings.alignment_matrix.option_middle_left", "value": "flex-start_center" },
        { "label": "t:shared.settings.alignment_matrix.option_middle_center", "value": "center_center" },
        { "label": "t:shared.settings.alignment_matrix.option_middle_right", "value": "flex-end_center" },
        { "label": "t:shared.settings.alignment_matrix.option_bottom_left", "value": "flex-start_flex-end" },
        { "label": "t:shared.settings.alignment_matrix.option_bottom_center", "value": "center_flex-end" },
        { "label": "t:shared.settings.alignment_matrix.option_bottom_right", "value": "flex-end_flex-end" }
      ],
      "default": "center_center"
    },
    {
      "type": "header",
      "content": "t:sections.image_hero.settings.logo__header"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.image_hero.settings.logo_desktop.label"
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "t:sections.image_hero.settings.logo_mobile.label"
    },
    {
      "id": "logo_position",
      "type": "select",
      "label": "t:sections.image_hero.settings.logo_desktop_position.label",
      "options": [
        { "label": "t:shared.settings.alignment_matrix.option_top_left", "value": "flex-start_flex-start" },
        { "label": "t:shared.settings.alignment_matrix.option_top_center", "value": "center_flex-start" },
        { "label": "t:shared.settings.alignment_matrix.option_top_right", "value": "flex-end_flex-start" },
        { "label": "t:shared.settings.alignment_matrix.option_middle_left", "value": "flex-start_center" },
        { "label": "t:shared.settings.alignment_matrix.option_middle_center", "value": "center_center" },
        { "label": "t:shared.settings.alignment_matrix.option_middle_right", "value": "flex-end_center" },
        { "label": "t:shared.settings.alignment_matrix.option_bottom_left", "value": "flex-start_flex-end" },
        { "label": "t:shared.settings.alignment_matrix.option_bottom_center", "value": "center_flex-end" },
        { "label": "t:shared.settings.alignment_matrix.option_bottom_right", "value": "flex-end_flex-end" }
      ],
      "default": "flex-end_center"
    },
    {
      "id": "logo_position_mobile",
      "type": "select",
      "label": "t:sections.image_hero.settings.logo_mobile_position.label",
      "options": [
        { "label": "t:shared.settings.alignment_matrix.option_top_left", "value": "flex-start_flex-start" },
        { "label": "t:shared.settings.alignment_matrix.option_top_center", "value": "center_flex-start" },
        { "label": "t:shared.settings.alignment_matrix.option_top_right", "value": "flex-end_flex-start" },
        { "label": "t:shared.settings.alignment_matrix.option_middle_left", "value": "flex-start_center" },
        { "label": "t:shared.settings.alignment_matrix.option_middle_center", "value": "center_center" },
        { "label": "t:shared.settings.alignment_matrix.option_middle_right", "value": "flex-end_center" },
        { "label": "t:shared.settings.alignment_matrix.option_bottom_left", "value": "flex-start_flex-end" },
        { "label": "t:shared.settings.alignment_matrix.option_bottom_center", "value": "center_flex-end" },
        { "label": "t:shared.settings.alignment_matrix.option_bottom_right", "value": "flex-end_flex-end" }
      ],
      "default": "flex-end_center"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "t:sections.image_hero.settings.logo_desktop_width.label",
      "unit": "px",
      "min": 50,
      "max": 550,
      "step": 5,
      "default": 550
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "label": "t:sections.image_hero.settings.logo_mobile_width.label",
      "unit": "px",
      "min": 50,
      "max": 550,
      "step": 5,
      "default": 265
    },
    {
      "type": "header",
      "content": "t:shared.settings.header_color.content"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:shared.settings.text_color.label",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "t:shared.settings.buttons_background_color.label",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "t:shared.settings.button_text_color.label",
      "default": "#000000"
    },
    {
      "id": "color_overlay",
      "type": "color",
      "label": "t:shared.settings.color_overlay.label",
      "default": "#000"
    },
    {
      "id": "color_overlay_gradient",
      "type": "color_background",
      "label": "t:shared.settings.color_overlay_gradient.label"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:shared.settings.overlay_opacity.label",
      "unit": "%",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 40
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "id": "enable_animation",
      "type": "checkbox",
      "label": "t:shared.settings.section_style.enable_animation.label",
      "info": "t:shared.settings.section_style.enable_animation.info",
      "default": true
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "t:shared.settings.section_style.section_padding.label",
      "default": "section--vertical-padding-none",
      "options": [
        {
          "label": "t:shared.settings.section_style.section_padding.option_none", "value": "section--vertical-padding-none"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_both", "value": "section--vertical-padding-top-bottom"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_top", "value": "section--vertical-padding-top-only"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_bottom", "value": "section--vertical-padding-bottom-only"
        }
      ]
    },
    {
      "type": "number",
      "id": "content_width",
      "label": "t:shared.settings.section_style.content_width.label",
      "default": 598
    },
    {
      "type": "range",
      "id": "top_left_corner_radius",
      "min": 0,
      "max": 400,
      "step": 5,
      "unit": "px",
      "label": "t:shared.settings.section_style.top_left_corner_radius.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "top_right_corner_radius",
      "min": 0,
      "max": 400,
      "step": 5,
      "unit": "px",
      "label": "t:shared.settings.section_style.top_right_corner_radius.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_left_corner_radius",
      "min": 0,
      "max": 400,
      "step": 5,
      "unit": "px",
      "label": "t:shared.settings.section_style.bottom_left_corner_radius.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_right_corner_radius",
      "min": 0,
      "max": 400,
      "step": 5,
      "unit": "px",
      "label": "t:shared.settings.section_style.bottom_right_corner_radius.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "link_color_scheme",
      "label": "t:shared.settings.link_color_scheme.label",
      "options": [
        {
          "value": "light",
          "label": "t:shared.settings.link_color_scheme.option_light"
        },
        {
          "value": "dark",
          "label": "t:shared.settings.link_color_scheme.option_dark"
        }
      ],
      "default": "dark"
    }
  ],
  "blocks": [
    {
      "type": "accent",
      "name": "t:sections.image_hero.blocks.accent.name",
      "settings": [
        {
          "id": "accent",
          "type": "text",
          "label": "t:sections.image_hero.blocks.accent.settings.text.label",
          "default": "Accent"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.image_hero.blocks.title.name",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "t:sections.image_hero.blocks.title.settings.title.label",
          "default": "Headline Title"
        },
        {
          "type": "select",
          "id": "font_family_class",
          "label": "t:shared.settings.font_family_class.label",
          "default": "ff-primary",
          "options": [
            {
              "value": "ff-primary",
              "label": "t:shared.settings.font_family_class.options.primary"
            },
            {
              "value": "ff-secondary",
              "label": "t:shared.settings.font_family_class.options.secondary"
            }
          ]
        },
        {
          "type": "select",
          "id": "heading_font_class",
          "label": "t:shared.settings.heading_font_class.label",
          "default": "fs-heading-2-base",
          "options": [
            {
              "value": "fs-heading-1-base",
              "label": "t:shared.settings.heading_font_class.option_heading_1"
            },
            {
              "value": "fs-heading-2-base",
              "label": "t:shared.settings.heading_font_class.option_heading_2"
            },
            {
              "value": "fs-heading-3-base",
              "label": "t:shared.settings.heading_font_class.option_heading_3"
            },
            {
              "value": "fs-heading-4-base",
              "label": "t:shared.settings.heading_font_class.option_heading_4"
            },
            {
              "value": "fs-heading-5-base",
              "label": "t:shared.settings.heading_font_class.option_heading_5"
            },
            {
              "value": "fs-heading-6-base",
              "label": "t:shared.settings.heading_font_class.option_heading_6"
            }
          ]
        },
        {
          "id": "heading_tag",
          "type": "select",
          "label": "t:shared.section_blocks.heading.settings.heading_tag.label",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h1"
            },
            {
              "value": "h2",
              "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h2"
            },
            {
              "value": "h3",
              "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h3"
            },
            {
              "value": "h4",
              "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h4"
            },
            {
              "value": "h5",
              "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h5"
            },
            {
              "value": "h6",
              "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h6"
            }
          ]
        },
        {
          "type": "select",
          "id": "heading_color",
          "label": "t:shared.settings.heading_color.label",
          "default": "c-heading-text-dark",
          "options": [
            {
              "value": "c-heading-text-dark",
              "label": "t:shared.settings.heading_color.option_dark"
            },
            {
              "value": "c-heading-text-light",
              "label": "t:shared.settings.heading_color.option_light"
            }
          ]
        }
      ]
    },
    {
      "type": "subheading",
      "name": "t:sections.image_hero.blocks.subheading.name",
      "settings": [
        {
          "id": "subheading",
          "type": "text",
          "label": "t:sections.image_hero.blocks.subheading.settings.text.label",
          "default": "Subheading - Lorem ipsum dolor sit amet, consectetur adipiscing elit."
        },
        {
          "type": "select",
          "id": "font_family_class",
          "label": "t:shared.settings.font_family_class.label",
          "default": "ff-primary",
          "options": [
            {
              "value": "ff-primary",
              "label": "t:shared.settings.font_family_class.options.primary"
            },
            {
              "value": "ff-secondary",
              "label": "t:shared.settings.font_family_class.options.secondary"
            }
          ]
        },
        {
          "type": "select",
          "id": "subheading_font_class",
          "label": "t:shared.settings.subheading_font_class.label",
          "default": "fs-body-200",
          "options": [
            {
              "value": "fs-body-300",
              "label": "t:shared.settings.subheading_font_class.option_subheading_1"
            },
            {
              "value": "fs-body-200",
              "label": "t:shared.settings.subheading_font_class.option_subheading_2"
            }
          ]
        },
        {
          "type": "select",
          "id": "subheading_color",
          "label": "t:shared.settings.subheading_color.label",
          "default": "c-subheading-text-dark",
          "options": [
            {
              "value": "c-subheading-text-dark",
              "label": "t:shared.settings.subheading_color.option_dark"
            },
            {
              "value": "c-subheading-text-light",
              "label": "t:shared.settings.subheading_color.option_light"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "enable_subheading_transparent_color",
          "label": "t:shared.settings.subheading_transparent_color.enable"
        },
        {
          "type": "color_background",
          "id": "subheading_transparent_color",
          "label": "t:shared.settings.subheading_transparent_color.label",
          "visible_if": "{{ block.settings.enable_subheading_transparent_color == true }}"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image_hero.blocks.text.name",
      "settings": [
        {
          "id": "text",
          "type": "richtext",
          "label": "t:sections.image_hero.blocks.text.settings.text.label",
          "default": "<p>Use these sections to promote a particular feature with editorial photography.</p>"
        },
        {
          "type": "select",
          "id": "text_font_class",
          "label": "t:shared.settings.text_font_class.label",
          "default": "fs-body-75",
          "options": [
            {
              "value": "fs-body-75",
              "label": "t:shared.settings.text_font_class.option_body_1"
            },
            {
              "value": "fs-body-50",
              "label": "t:shared.settings.text_font_class.option_body_2"
            }
          ]
        },
        {
          "type": "select",
          "id": "custom_text_color",
          "label": "t:shared.settings.text_color.label",
          "default": "c-body-text-dark",
          "options": [
            {
              "value": "c-body-text-dark",
              "label": "t:shared.settings.text_color.option_dark"
            },
            {
              "value": "c-body-text-light",
              "label": "t:shared.settings.text_color.option_light"
            }
          ]
        }
      ]
    },
    {
      "type": "image",
      "name": "t:shared.section_blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:shared.section_blocks.image.settings.image.label"
        },
        {
          "id": "image_size",
          "type": "range",
          "min": 50,
          "max": 750,
          "step": 10,
          "unit": "px",
          "label": "t:shared.section_blocks.image.settings.image_size.label",
          "default": 200
        },
        {
          "id": "image_size_mobile",
          "type": "range",
          "min": 50,
          "max": 350,
          "step": 10,
          "unit": "px",
          "label": "t:shared.section_blocks.image.settings.image_size_mobile.label",
          "default": 200
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image_hero.blocks.button.name",
      "limit": 2,
      "settings": [
        {
          "id": "link",
          "type": "url",
          "label": "t:sections.image_hero.blocks.button.settings.link.label"
        },
        {
          "id": "link_text",
          "type": "text",
          "label": "t:sections.image_hero.blocks.button.settings.link_text.label",
          "default": "Read more"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:shared.settings.button_style.label",
          "options": [
            {
              "value": "btn--solid",
              "label": "t:shared.settings.button_style.option_solid"
            },
            {
              "value": "btn--outline",
              "label": "t:shared.settings.button_style.option_outline"
            },
            {
              "value": "btn--callout",
              "label": "t:shared.settings.button_style.option_text"
            }
          ]
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "t:shared.settings.button_color.label",
          "options": [
            {
              "value": "btn--dark",
              "label": "t:shared.settings.button_color.dark"
            },
            {
              "value": "btn--light",
              "label": "t:shared.settings.button_color.light"
            }
          ]
        }
      ]
    },
    {
      "type": "play-button",
      "name": "t:shared.section_blocks.play_button.name",
      "settings": [
        {
          "type": "url",
          "id": "video_url",
          "label": "Video link",
          "info": "t:shared.section_blocks.play_button.settings.video_url.info"
        },
        {
          "type": "image_picker",
          "id": "poster_image",
          "label": "t:shared.section_blocks.play_button.settings.poster_image.label"
        },
        {
          "type": "select",
          "id": "aspect_ratio",
          "label": "t:shared.settings.aspect_ratio.label",
          "default": "square",
          "options": [
            {
              "value": "natural",
              "label": "t:shared.settings.aspect_ratio.option_natural"
            },
            {
              "value": "square",
              "label": "t:shared.settings.aspect_ratio.option_square"
            },
            {
              "value": "portrait",
              "label": "t:shared.settings.aspect_ratio.option_portrait"
            },
            {
              "value": "landscape",
              "label": "t:shared.settings.aspect_ratio.option_landscape"
            }
          ]
        },
        {
          "id": "text",
          "type": "text",
          "label": "t:shared.section_blocks.play_button.settings.text.label",
          "default": "Watch now"
        },
        {
          "type": "select",
          "id": "icon_style",
          "label": "t:shared.section_blocks.play_button.settings.icon_style.label",
          "default": "outline",
          "options": [
            {
              "value": "dark",
              "label": "t:shared.section_blocks.play_button.settings.icon_style.option_dark"
            },
            {
              "value": "light",
              "label": "t:shared.section_blocks.play_button.settings.icon_style.option_light"
            },
            {
              "value": "outline",
              "label": "t:shared.section_blocks.play_button.settings.icon_style.option_outline"
            }
          ]
        }
      ]
    },
    {
      "type": "border",
      "name": "t:shared.section_blocks.border.name"
    },
    {
      "type": "spacer",
      "name": "t:shared.section_blocks.spacer.name",
      "settings": [
        {
          "type": "range",
          "id": "space",
          "label": "t:shared.section_blocks.spacer.settings.space.label",
          "min": 4,
          "max": 64,
          "step": 4,
          "default": 12,
          "unit": "px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image_hero.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
