{%- liquid
  assign has_background_color = false

  if section.settings.background_color != blank and section.settings.background_color != 'rgba(0,0,0,0)'
    assign has_background_color = true
  endif

  assign show_animations = false
  if settings.enable_section_animations and section.settings.enable_animation
    assign show_animations = true
  endif
  assign prioritize_loading = false
  if section.index == 1
    assign prioritize_loading = true
  endif

  assign has_video = false
  assign has_background_video = false
  assign background_video_url = blank

  if section.settings.enable_hero_video == true and section.settings.video_url_hero != blank
    assign has_background_video = true
    assign background_video_url = section.settings.video_url_hero
  endif

  if section.settings.video != blank or section.settings.video_mobile != blank
    assign has_video = true
  endif

  assign has_media_in_container = false
  if section.settings.image != blank or section.settings.image_mobile != blank or section.settings.video != blank or section.settings.video_mobile != blank
    assign has_media_in_container = true
  endif

  assign has_content = false
  if section.settings.image != blank or section.settings.image_mobile != blank or section.settings.video != blank or section.settings.video_mobile != blank or section.settings.background_image != blank or section.settings.show_small_image and section.settings.image_small != blank
    assign has_content = true
  endif

  unless has_content
    for block in section.blocks
      if block.settings.accent != blank or block.settings.title != blank or block.settings.subheading != blank or block.settings.text != blank or block.settings.image != blank or block.settings.link != blank or block.settings.link_text != blank or block.settings.icon != blank or block.settings.app_download_text != blank or block.settings.mobile_app_store_image != blank or block.settings.mobile_google_play_image != blank or block.settings.desktop_app_download_image != blank or block.type == 'play-button'
        assign has_content = true
      endif
    endfor
  endunless
-%}

{%- capture image_sizes -%}
  {%- if section.settings.show_small_image -%}
    (min-width: 720px) calc(calc(50vw - clamp(18px, 3.3vw, 3.3vw)) * .93), calc((100vw - 80px) * .93)
  {%- else -%}
    (min-width: 720px) calc(calc(50vw - clamp(18px, 3.3vw, 3.3vw)), calc(100vw - 80px)
  {%- endif -%}
{%- endcapture -%}

{%- capture section_classes -%}
  section section--full-width section--divider-{{ section.settings.divider_style }}
  {{ section.settings.section_padding }}
{%- endcapture -%}

{%- if has_content -%}
<div
  class="
    image-with-text
    image-with-text--justify-{{ section.settings.text_alignment }}
    image-with-text--image-{{ section.settings.media_position }}
    image-with-text--image-mobile-{{ section.settings.media_mobile_position }}
    {% unless section.settings.image_caption == blank %}
      image-with-text--has-image-caption
    {% endunless %}
    {% if section.settings.show_small_image %}
      image-with-text--has-small-image
    {% endif %}
    {% unless has_background_color %}
      {{ section_classes }}
    {% endunless %}
    {% if show_animations %}
      animation
      animation--image-with-text
    {% endif %}
    {% if section.settings.background_image %}
      image-with-text--has-background-image
    {% endif %}
    {% if has_background_video %}
      image-with-text--has-background-video
      js-video-media
    {% endif %}
    {% if has_video %}
      image-with-text--has-video
    {% endif %}
    {% unless has_media_in_container %}
      image-with-text--background-ratio
    {% endunless %}
    link-color-scheme--{{ section.settings.link_color_scheme }}
  "
  data-section-id="{{ section.id }}"
  data-section-type="image-with-text"
  style="
    --section-background-color: {{ section.settings.background_color }};
    --color-text: {{ section.settings.text_color }};
    --color-text-alpha-60: {{ section.settings.text_color | color_modify: 'alpha', 0.6 }};
    --color-text-link: {{ section.settings.text_color }};
    --text-alignment: {{ section.settings.text_alignment }};
    --small-image-placeholder-color: {{ settings.color_text | color_modify: 'alpha', 0.7 }};
    {% render 'overlay-button-vars' with color_button_text: section.settings.button_text_color, color_button_background: section.settings.button_background_color %}
  "
>
  <div class="image-with-text__wrapper">
    {%- if section.settings.background_image -%}
      <div class="image-with-text__background-image">
        {%-
          render 'image',
          wrapper_class: "image-with-text__background",
          image: section.settings.background_image
        -%}
      </div>
    {%- endif -%}
    {%- if has_background_video -%}
      <div class="image-with-text__background-video">
        {%- if section.index == 1 -%}
          <link rel="preload" href="{{ background_video_url }}" as="video" type="video/mp4" />
        {%- endif -%}
        <video-control class="image-with-text__background-video-inner">
          {%- assign video_poster = section.settings.background_image | default: section.settings.image | image_url: width: 1920 -%}
          {%- render 'video',
            video: background_video_url,
            poster: video_poster,
            controls: false,
            enable_play_pause_button: false,
            loop: true,
            wrapper_class: 'image-with-text__background-video-wrapper',
            prioritize_loading: prioritize_loading
          -%}
          <div class="image-with-text__video-controls">
            <button class="image-with-text__video-toggle video-play-button js-button-video played" aria-label="{{ 'general.accessibility.play' | t }}" aria-pressed="false">
              <span class="image-with-text__video-toggle-content video-button-content--play">
                {%- render 'play-icon', class: 'image-with-text__video-toggle-icon' -%}
                <span class="sr-only">{{ 'general.accessibility.play' | t }}</span>
              </span>
              <span class="image-with-text__video-toggle-content video-button-content--pause">
                {%- render 'pause-icon', class: 'image-with-text__video-toggle-icon' -%}
                <span class="sr-only">{{ 'general.accessibility.pause' | t }}</span>
              </span>
            </button>
          </div>
        </video-control>
      </div>
    {%- endif -%}
    <div
      class="
        image-with-text__inner
        {% if has_background_color %}
          {{ section_classes }}
        {% endif %}
      "
    >
      <div class="image-with-text__content">
        <div class="image-with-text__image-container">
          <div class="image-with-text__image-container-inner {% if section.settings.video_mobile != blank %}image-with-text__image-container-inner--has-mobile-video{% endif %}">
            {%- if section.settings.image != blank or section.settings.image_mobile != blank or section.settings.video != blank or section.settings.video_mobile != blank -%}
              {%- if has_video -%}
                {%- if section.settings.video != blank -%}
                  <div class="image-with-text__video-wrapper image-with-text__video-wrapper--desktop" data-video-wrapper>
                    {{
                      section.settings.video
                      | video_tag: autoplay: true, muted: true, loop: true, controls: false, image_size: '720x', preload: 'metadata'
                      | replace: '<video', '<video class="image-with-text__video video"'
                    }}
                    {%- render 'video-pause' -%}
                  </div>
                {%- endif -%}
                {%- if section.settings.video_mobile != blank -%}
                  <div class="image-with-text__video-wrapper image-with-text__video-wrapper--mobile" data-video-wrapper>
                    {{
                      section.settings.video_mobile
                      | video_tag: autoplay: true, muted: true, loop: true, controls: false, image_size: '720x', preload: 'metadata'
                      | replace: '<video', '<video class="image-with-text__video image-with-text__video--mobile video"'
                    }}
                    {%- render 'video-pause' -%}
                  </div>
                {%- endif -%}
              {%- else -%}
                <figure class="image-with-text__image-wrapper">
                  {%-
                    render 'image' with
                    wrapper_class: "image-with-text__image",
                    image: section.settings.image,
                    mobile_image: section.settings.image_mobile,
                    sizes: image_sizes,
                    aspect_ratio: section.settings.aspect_ratio,
                    focal_point: section.settings.focal_point,
                    include_placeholder: true,
                    animate: show_animations,
                    prioritize_loading: prioritize_loading,
                    fallback_alt: section.settings.image.alt
                  -%}

                  {%- unless section.settings.image_caption == blank -%}
                    <figcaption class="image-with-text__image-caption ff-body fs-body-50">
                      {{ section.settings.image_caption }}
                    </figcaption>
                  {%- endunless -%}
                </figure>
              {%- endif -%}

              {%- if section.settings.show_small_image -%}
                <div class="image-with-text__small-image-wrapper">
                  {%-
                    render 'image' with
                    wrapper_class: "image-with-text__small-image",
                    image: section.settings.image_small,
                    sizes: "(max-width: 720px) calc(90vw * .42), (max-width: 1500px) calc(50vw * .42), 300px",
                    aspect_ratio: section.settings.image_small_aspect_ratio,
                    focal_point: section.settings.image_small_focal_point,
                    include_placeholder: true,
                    animate: show_animations,
                    prioritize_loading: prioritize_loading,
                    fallback_alt: section.settings.image_small.alt
                  -%}
                </div>
              {%- endif -%}
            {%- endif -%}
          </div>
        </div>

        <div class="image-with-text__text-container">
          <div
            class="
              image-with-text__text-container-inner
              section-blocks
              {% if show_animations %}animation--section-blocks{% endif %}
            "
          >
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'accent' -%}
                  {%- unless block.settings.accent == blank -%}
                    <p class="image-with-text__text-container-accent fs-accent section-blocks__accent">
                      {{ block.settings.accent }}
                    </p>
                  {%- endunless -%}
                {%- when 'heading' -%}
                  {%- unless block.settings.title == blank -%}
                    <{{ block.settings.heading_tag }} class="image-with-text__text-container-heading ff-heading {{ block.settings.heading_font_class }} {{ block.settings.font_family_class }} {% if section.settings.text_color == 'rgba(0,0,0,0)' or section.settings.text_color == blank %}{{ block.settings.heading_color }}{% endif %} section-blocks__heading">
                      {{ block.settings.title }}
                    </{{ block.settings.heading_tag }}>
                  {%- endunless -%}
                {%- when 'subheading' -%}
                  {%- unless block.settings.subheading == blank -%}
                    <{{ block.settings.subheading_tag }} class="image-with-text__text-container-subheading ff-subheading {{ block.settings.subheading_font_class }} {{ block.settings.font_family_class }} {% if section.settings.text_color == 'rgba(0,0,0,0)' or section.settings.text_color == blank %}{{ block.settings.subheading_color }}{% endif %} section-blocks__subheading">
                      {{ block.settings.subheading }}
                    </{{ block.settings.subheading_tag }}>
                  {%- endunless -%}
                {%- when 'text' -%}
                  {%- unless block.settings.text == blank -%}
                    <div class="image-with-text__text-container-text rte ff-body {{ block.settings.text_font_class }} {% if section.settings.text_color == 'rgba(0,0,0,0)' or section.settings.text_color == blank %}{{ block.settings.custom_text_color }}{% endif %} section-blocks__text">
                      {{ block.settings.text }}
                    </div>
                  {%- endunless -%}
                {%- when 'image' -%}
                  {%-
                    render 'image-block' with
                    shopify_attributes: block.shopify_attributes,
                    wrapper_class: 'image-with-text__text-container-image section-blocks__image  section-blocks__image',
                    image: block.settings.image,
                    width: block.settings.image_size,
                    mobile_width: block.settings.image_size_mobile,
                    break_to_mobile_at: '720',
                    align: section.settings.text_alignment
                  -%}
                {%- when 'button' -%}
                  {%-
                    render 'button-block' with
                    wrapper_class: "image-with-text__text-container-button section-blocks__button",
                    link: block.settings.link,
                    label: block.settings.link_text,
                    button_style: block.settings.button_style,
                    button_color: block.settings.button_color,
                    is_overlay: true,
                    button_alignment: section.settings.text_alignment,
                    buttons_can_inline: true,
                    forloop: forloop
                  -%}
                {%- when 'play-button' -%}
                  {%-
                    render 'play-button-block' with
                    wrapper_class: 'image-with-text__text-container-play-button section-blocks__video-button',
                    block: block,
                    button_alignment: section.settings.text_alignment
                  -%}
                {%- when 'border' -%}
                  {%- render 'border-block' -%}
                {%- when 'spacer' -%}
                  {%- render 'spacer-block' with space: block.settings.space -%}
                {%- when 'icon_with_text' -%}
                  {%- if block.settings.icon != blank or block.settings.title != blank or request.design_mode -%}
                    <div class="image-with-text__icon-text-container">
                      {%-
                        render 'image' with
                        wrapper_class: "image-with-text__icon-image",
                        image: block.settings.icon,
                        sizes: '50px',
                        include_placeholder: true
                      -%}
                      {%- unless block.settings.title == blank -%}
                        <p class="image-with-text__icon-text fs-body-75">{{ block.settings.title }}</p>
                      {%- endunless -%}
                    </div>
                  {%- endif -%}
                {%- when 'app_download' -%}
                  {%- if block.settings.app_download_text != blank
                  or block.settings.mobile_app_store_image != blank
                  or block.settings.mobile_google_play_image != blank
                  -%}
                    <div
                      class="image-with-text__mobile-app-download"
                      style="
                        --background-color: {{ block.settings.background_color }};
                        --color-text: {{ block.settings.text_color }};
                      ">
                      {% if block.settings.app_download_text != blank %}
                        <p class="image-with-text__mobile-app-download-text fs-body-200">
                          {{ block.settings.app_download_text }}
                        </p>
                      {% endif %}
                      <div class="image-with-text__mobile-app-download-badges">
                        {% if block.settings.mobile_app_store_image != blank %}
                          {% if block.settings.mobile_app_store_link != blank %}
                            <a href="{{ block.settings.mobile_app_store_link }}" class="image-with-text__mobile-app-download-badge-link" aria-label="App Store">
                          {% endif %}
                          {%- render 'image',
                            wrapper_class: "image-with-text__mobile-app-download-badge",
                            image: block.settings.mobile_app_store_image,
                            sizes_px: 140
                          -%}
                          {% if block.settings.mobile_app_store_link != blank %}
                            </a>
                          {% endif %}
                        {% endif %}
                        {% if block.settings.mobile_google_play_image != blank %}
                          {% if block.settings.mobile_google_play_link != blank %}
                            <a href="{{ block.settings.mobile_google_play_link }}" class="image-with-text__mobile-app-download-badge-link" aria-label="Google Play">
                          {% endif %}
                          {%- render 'image',
                            wrapper_class: "image-with-text__mobile-app-download-badge",
                            image: block.settings.mobile_google_play_image,
                            sizes_px: 140
                          -%}
                          {% if block.settings.mobile_google_play_link != blank %}
                            </a>
                          {% endif %}
                        {% endif %}
                      </div>

                      {% if block.settings.desktop_app_download_image != blank %}
                        <div class="image-with-text__desktop-app-download">
                          {% if block.settings.desktop_app_download_link != blank %}
                            <a
                            href="{{ block.settings.desktop_app_download_link }}"
                            class="image-with-text__desktop-app-download-image-link"
                            aria-label="{{ block.settings.app_download_text | default: 'Download our app' }}"
                            >
                          {% endif %}
                          {%- render 'image',
                            wrapper_class: "image-with-text__desktop-app-download-image",
                            image: block.settings.desktop_app_download_image,
                            sizes_px: 118
                          -%}
                          {% if block.settings.desktop_app_download_link != blank %}
                            </a>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  {%- endif -%}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.image_with_text.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.image_with_text.settings.background_image.label"
    },
    {
      "type": "header",
      "content": "t:sections.image_with_text.settings.background_video_header.content"
    },
    {
      "id": "enable_hero_video",
      "type": "checkbox",
      "label": "t:sections.video_hero.settings.enable_hero_video.label",
      "default": false
    },
    {
      "type": "url",
      "id": "video_url_hero",
      "label": "t:sections.video_hero.settings.video_url.label",
      "info": "t:sections.video_hero.settings.video_url.info"
    },
    {
      "type": "select",
      "id": "media_position",
      "label": "t:sections.image_with_text.settings.media_position.label",
      "default": "right",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image_with_text.settings.media_position.option_left"
        },
        {
          "value": "right",
          "label": "t:sections.image_with_text.settings.media_position.option_right"
        }
      ]
    },
    {
      "type": "select",
      "id": "media_mobile_position",
      "label": "t:sections.image_with_text_split.settings.media_mobile_position.label",
      "default": "above-content",
      "options": [
        {
          "value": "above-content",
          "label": "t:sections.image_with_text_split.settings.media_mobile_position.option_above"
        },
        {
          "value": "below-content",
          "label": "t:sections.image_with_text_split.settings.media_mobile_position.option_below"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.image_with_text.settings.text_alignment.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:shared.settings.alignment_horizontal.option_left"
        },
        {
          "value": "center",
          "label": "t:shared.settings.alignment_horizontal.option_center"
        },
        {
          "value": "right",
          "label": "t:shared.settings.alignment_horizontal.option_right"
        }
      ]
    },
    {
      "id": "video",
      "type": "video",
      "label": "t:shared.settings.video.label"
    },
    {
      "id": "video_mobile",
      "type": "video",
      "label": "t:shared.settings.video_mobile.label"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "t:sections.image_with_text.settings.image.label"
    },
    {
      "id": "image_mobile",
      "type": "image_picker",
      "label": "t:sections.image_with_text.settings.image_mobile.label"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "t:shared.settings.aspect_ratio.label",
      "default": "square",
      "options": [
        {
          "value": "natural",
          "label": "t:shared.settings.aspect_ratio.option_natural"
        },
        {
          "value": "square",
          "label": "t:shared.settings.aspect_ratio.option_square"
        },
        {
          "value": "portrait",
          "label": "t:shared.settings.aspect_ratio.option_portrait"
        },
        {
          "value": "landscape",
          "label": "t:shared.settings.aspect_ratio.option_landscape"
        }
      ]
    },
    {
      "id": "focal_point",
      "type": "select",
      "label": "t:shared.settings.focal_point.label",
      "options": [
        {
          "label": "t:shared.settings.focal_point.option_image",
          "value": "image_presentation"
        },
        {
          "label": "t:shared.settings.focal_point.option_center",
          "value": "center"
        },
        {
          "label": "t:shared.settings.focal_point.option_top",
          "value": "top"
        },
        {
          "label": "t:shared.settings.focal_point.option_bottom",
          "value": "bottom"
        },
        {
          "label": "t:shared.settings.focal_point.option_left",
          "value": "left"
        },
        {
          "label": "t:shared.settings.focal_point.option_right",
          "value": "right"
        }
      ],
      "default": "image_presentation"
    },
    {
      "type": "text",
      "id": "image_caption",
      "label": "t:sections.image_with_text.settings.image_caption.label"
    },
    {
      "id": "show_small_image",
      "type": "checkbox",
      "label": "t:sections.image_with_text.settings.show_small_image.label",
      "default": true
    },
    {
      "id": "image_small",
      "type": "image_picker",
      "label": "t:sections.image_with_text.settings.image_small.label"
    },
    {
      "type": "select",
      "id": "image_small_aspect_ratio",
      "label": "t:sections.image_with_text.settings.image_small_aspect.label",
      "default": "square",
      "options": [
        {
          "value": "natural",
          "label": "t:shared.settings.aspect_ratio.option_natural"
        },
        {
          "value": "square",
          "label": "t:shared.settings.aspect_ratio.option_square"
        },
        {
          "value": "portrait",
          "label": "t:shared.settings.aspect_ratio.option_portrait"
        },
        {
          "value": "landscape",
          "label": "t:shared.settings.aspect_ratio.option_landscape"
        }
      ]
    },
    {
      "id": "image_small_focal_point",
      "type": "select",
      "label": "t:sections.image_with_text.settings.image_small_focal.label",
      "options": [
        {
          "label": "t:shared.settings.focal_point.option_image",
          "value": "image_presentation"
        },
        {
          "label": "t:shared.settings.focal_point.option_center",
          "value": "center"
        },
        {
          "label": "t:shared.settings.focal_point.option_top",
          "value": "top"
        },
        {
          "label": "t:shared.settings.focal_point.option_bottom",
          "value": "bottom"
        },
        {
          "label": "t:shared.settings.focal_point.option_left",
          "value": "left"
        },
        {
          "label": "t:shared.settings.focal_point.option_right",
          "value": "right"
        }
      ],
      "default": "image_presentation"
    },
    {
      "type": "header",
      "content": "t:shared.settings.header_color.content"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:shared.settings.background_color.label"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:shared.settings.text_color.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "t:shared.settings.buttons_background_color.label",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "t:shared.settings.button_text_color.label",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "id": "enable_animation",
      "type": "checkbox",
      "label": "t:shared.settings.section_style.enable_animation.label",
      "info": "t:shared.settings.section_style.enable_animation.info",
      "default": true
    },
    {
      "type": "select",
      "id": "divider_style",
      "label": "t:shared.settings.section_style.divider_style.label",
      "default": "none",
      "options": [
        {
          "label": "t:shared.settings.section_style.divider_style.option_none",
          "value": "none"
        },
        {
          "label": "t:shared.settings.section_style.divider_style.option_solid",
          "value": "solid"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "t:shared.settings.section_style.section_padding.label",
      "default": "section--vertical-padding-top-bottom",
      "options": [
        {
          "label": "t:shared.settings.section_style.section_padding.option_none",
          "value": "section--vertical-padding-none"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_both",
          "value": "section--vertical-padding-top-bottom"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_top",
          "value": "section--vertical-padding-top-only"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_bottom",
          "value": "section--vertical-padding-bottom-only"
        }
      ]
    },
    {
      "type": "select",
      "id": "link_color_scheme",
      "label": "t:shared.settings.link_color_scheme.label",
      "options": [
        {
          "value": "light",
          "label": "t:shared.settings.link_color_scheme.option_light"
        },
        {
          "value": "dark",
          "label": "t:shared.settings.link_color_scheme.option_dark"
        }
      ],
      "default": "dark"
    }
  ],
  "blocks": [
    {
      "type": "accent",
      "name": "t:sections.image_with_text.blocks.accent.name",
      "settings": [
        {
          "id": "accent",
          "type": "text",
          "label": "t:sections.image_with_text.blocks.accent.settings.text.label",
          "default": "Accent"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.image_with_text.blocks.title.name",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "t:sections.image_with_text.blocks.title.settings.title.label",
          "default": "Image with text"
        },
        {
          "id": "heading_tag",
          "type": "select",
          "label": "t:shared.section_blocks.heading.settings.heading_tag.label",
          "default": "h2",
          "options": [
            {
              "value": "h2",
              "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h2"
            },
            {
              "value": "h3",
              "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h3"
            },
            {
              "value": "h4",
              "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h4"
            },
            {
              "value": "h5",
              "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h5"
            },
            {
              "value": "h6",
              "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h6"
            }
          ]
        },
        {
          "type": "paragraph",
          "content": "t:shared.section_blocks.heading.settings.heading_tag.info"
        },
        {
          "type": "select",
          "id": "font_family_class",
          "label": "t:shared.settings.font_family_class.label",
          "default": "ff-primary",
          "options": [
            {
              "value": "ff-primary",
              "label": "t:shared.settings.font_family_class.options.primary"
            },
            {
              "value": "ff-secondary",
              "label": "t:shared.settings.font_family_class.options.secondary"
            }
          ]
        },
        {
          "type": "select",
          "id": "heading_font_class",
          "label": "t:shared.settings.heading_font_class.label",
          "default": "fs-heading-3-base",
          "options": [
            {
              "value": "fs-heading-1-base",
              "label": "t:shared.settings.heading_font_class.option_heading_1"
            },
            {
              "value": "fs-heading-2-base",
              "label": "t:shared.settings.heading_font_class.option_heading_2"
            },
            {
              "value": "fs-heading-3-base",
              "label": "t:shared.settings.heading_font_class.option_heading_3"
            },
            {
              "value": "fs-heading-4-base",
              "label": "t:shared.settings.heading_font_class.option_heading_4"
            },
            {
              "value": "fs-heading-5-base",
              "label": "t:shared.settings.heading_font_class.option_heading_5"
            },
            {
              "value": "fs-heading-6-base",
              "label": "t:shared.settings.heading_font_class.option_heading_6"
            }
          ]
        },
        {
          "type": "select",
          "id": "heading_color",
          "label": "t:shared.settings.heading_color.label",
          "default": "c-heading-text-dark",
          "options": [
            {
              "value": "c-heading-text-dark",
              "label": "t:shared.settings.heading_color.option_dark"
            },
            {
              "value": "c-heading-text-light",
              "label": "t:shared.settings.heading_color.option_light"
            }
          ]
        }
      ]
    },
    {
      "type": "subheading",
      "name": "t:sections.image_with_text.blocks.subheading.name",
      "settings": [
        {
          "id": "subheading",
          "type": "text",
          "label": "t:sections.image_with_text.blocks.subheading.settings.text.label",
          "default": "Use these sections to promote a particular feature with editorial photography"
        },
        {
          "id": "subheading_tag",
          "type": "select",
          "label": "t:shared.section_blocks.subheading.settings.subheading_tag.label",
          "default": "h3",
          "options": [
            {
              "value": "h2",
              "label": "t:shared.section_blocks.subheading.settings.subheading_tag.options.h2"
            },
            {
              "value": "h3",
              "label": "t:shared.section_blocks.subheading.settings.subheading_tag.options.h3"
            },
            {
              "value": "h4",
              "label": "t:shared.section_blocks.subheading.settings.subheading_tag.options.h4"
            },
            {
              "value": "h5",
              "label": "t:shared.section_blocks.subheading.settings.subheading_tag.options.h5"
            },
            {
              "value": "h6",
              "label": "t:shared.section_blocks.subheading.settings.subheading_tag.options.h6"
            }
          ]
        },
        {
          "type": "paragraph",
          "content": "t:shared.section_blocks.subheading.settings.subheading_tag.info"
        },
        {
          "type": "select",
          "id": "font_family_class",
          "label": "t:shared.settings.font_family_class.label",
          "default": "ff-primary",
          "options": [
            {
              "value": "ff-primary",
              "label": "t:shared.settings.font_family_class.options.primary"
            },
            {
              "value": "ff-secondary",
              "label": "t:shared.settings.font_family_class.options.secondary"
            }
          ]
        },
        {
          "type": "select",
          "id": "subheading_font_class",
          "label": "t:shared.settings.subheading_font_class.label",
          "default": "fs-body-200",
          "options": [
            {
              "value": "fs-body-300",
              "label": "t:shared.settings.subheading_font_class.option_subheading_1"
            },
            {
              "value": "fs-body-200",
              "label": "t:shared.settings.subheading_font_class.option_subheading_2"
            }
          ]
        },
        {
          "type": "select",
          "id": "subheading_color",
          "label": "t:shared.settings.subheading_color.label",
          "default": "c-subheading-text-dark",
          "options": [
            {
              "value": "c-subheading-text-dark",
              "label": "t:shared.settings.subheading_color.option_dark"
            },
            {
              "value": "c-subheading-text-light",
              "label": "t:shared.settings.subheading_color.option_light"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image_with_text.blocks.text.name",
      "settings": [
        {
          "id": "text",
          "type": "richtext",
          "label": "t:sections.image_with_text.blocks.text.settings.text.label",
          "default": "<p>Use these sections to promote a particular feature with editorial photography</p>"
        },
        {
          "type": "select",
          "id": "text_font_class",
          "label": "t:shared.settings.text_font_class.label",
          "default": "fs-body-75",
          "options": [
            {
              "value": "fs-body-75",
              "label": "t:shared.settings.text_font_class.option_body_1"
            },
            {
              "value": "fs-body-50",
              "label": "t:shared.settings.text_font_class.option_body_2"
            }
          ]
        },
        {
          "type": "select",
          "id": "custom_text_color",
          "label": "t:shared.settings.text_color.label",
          "default": "c-body-text-dark",
          "options": [
            {
              "value": "c-body-text-dark",
              "label": "t:shared.settings.text_color.option_dark"
            },
            {
              "value": "c-body-text-light",
              "label": "t:shared.settings.text_color.option_light"
            }
          ]
        }
      ]
    },
    {
      "type": "image",
      "name": "t:shared.section_blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:shared.section_blocks.image.settings.image.label"
        },
        {
          "id": "image_size",
          "type": "range",
          "min": 50,
          "max": 750,
          "step": 10,
          "unit": "px",
          "label": "t:shared.section_blocks.image.settings.image_size.label",
          "default": 200
        },
        {
          "id": "image_size_mobile",
          "type": "range",
          "min": 50,
          "max": 350,
          "step": 10,
          "unit": "px",
          "label": "t:shared.section_blocks.image.settings.image_size_mobile.label",
          "default": 200
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image_with_text.blocks.button.name",
      "limit": 2,
      "settings": [
        {
          "id": "link",
          "type": "url",
          "label": "t:shared.settings.button_link.label"
        },
        {
          "id": "link_text",
          "type": "text",
          "label": "t:shared.settings.button_link_text.label",
          "default": "Read more"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:shared.settings.button_style.label",
          "options": [
            {
              "value": "btn--solid",
              "label": "t:shared.settings.button_style.option_solid"
            },
            {
              "value": "btn--outline",
              "label": "t:shared.settings.button_style.option_outline"
            },
            {
              "value": "btn--callout",
              "label": "t:shared.settings.button_style.option_text"
            }
          ]
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "t:shared.settings.button_color.label",
          "options": [
            {
              "value": "btn--dark",
              "label": "t:shared.settings.button_color.dark"
            },
            {
              "value": "btn--light",
              "label": "t:shared.settings.button_color.light"
            }
          ]
        }
      ]
    },
    {
      "type": "play-button",
      "name": "t:shared.section_blocks.play_button.name",
      "settings": [
        {
          "id": "video_source",
          "type": "radio",
          "label": "t:shared.settings.video_source.label",
          "options": [
            {
              "label": "t:shared.settings.video_source.option_1",
              "value": "shopify"
            },
            {
              "label": "t:shared.settings.video_source.option_2",
              "value": "external"
            }
          ],
          "default": "external"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:shared.settings.video.label",
          "info": "t:shared.settings.video.info"
        },
        {
          "id": "video_url",
          "type": "video_url",
          "label": "t:shared.settings.external_video_url.label",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
          "type": "header",
          "content": "t:sections.video.blocks.play_button.name"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "t:shared.section_blocks.play_button.settings.poster_image.label"
        },
        {
          "type": "select",
          "id": "aspect_ratio",
          "label": "t:shared.settings.aspect_ratio.label",
          "default": "square",
          "options": [
            {
              "value": "natural",
              "label": "t:shared.settings.aspect_ratio.option_natural"
            },
            {
              "value": "square",
              "label": "t:shared.settings.aspect_ratio.option_square"
            },
            {
              "value": "portrait",
              "label": "t:shared.settings.aspect_ratio.option_portrait"
            },
            {
              "value": "landscape",
              "label": "t:shared.settings.aspect_ratio.option_landscape"
            }
          ]
        },
        {
          "id": "text",
          "type": "text",
          "label": "t:shared.section_blocks.play_button.settings.text.label",
          "default": "Watch now"
        },
        {
          "type": "select",
          "id": "icon_style",
          "label": "t:shared.section_blocks.play_button.settings.icon_style.label",
          "default": "outline",
          "options": [
            {
              "value": "dark",
              "label": "t:shared.section_blocks.play_button.settings.icon_style.option_dark"
            },
            {
              "value": "light",
              "label": "t:shared.section_blocks.play_button.settings.icon_style.option_light"
            },
            {
              "value": "outline",
              "label": "t:shared.section_blocks.play_button.settings.icon_style.option_outline"
            }
          ]
        }
      ]
    },
    {
      "type": "border",
      "name": "t:shared.section_blocks.border.name"
    },
    {
      "type": "spacer",
      "name": "t:shared.section_blocks.spacer.name",
      "settings": [
        {
          "type": "range",
          "id": "space",
          "label": "t:shared.section_blocks.spacer.settings.space.label",
          "min": 4,
          "max": 64,
          "step": 4,
          "default": 12,
          "unit": "px"
        }
      ]
    },
    {
      "type": "icon_with_text",
      "name": "t:sections.image_with_text.blocks.icon_with_text.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "t:sections.image_with_text.blocks.icon_with_text.settings.icon.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.image_with_text.blocks.icon_with_text.settings.title.label"
        }
      ]
    },
    {
      "type": "app_download",
      "name": "t:sections.image_with_text.blocks.download.name",
      "settings": [
        {
          "type": "text",
          "id": "app_download_text",
          "label": "App text",
          "default": "Download the app"
        },
        {
          "type": "image_picker",
          "id": "mobile_app_store_image",
          "label": "App Store image"
        },
        {
          "type": "url",
          "id": "mobile_app_store_link",
          "label": "App Store link"
        },
        {
          "type": "image_picker",
          "id": "mobile_google_play_image",
          "label": "Google Play image"
        },
        {
          "type": "url",
          "id": "mobile_google_play_link",
          "label": "Google Play link"
        },
        {
          "type": "image_picker",
          "id": "desktop_app_download_image",
          "label": "Desktop app image (QR)"
        },
        {
          "type": "url",
          "id": "desktop_app_download_link",
          "label": "Desktop app image link"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "t:shared.settings.background_color.label",
          "default": "#0B133D"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:shared.settings.text_color.label",
          "default": "#ffffff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image_with_text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "subheading"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
