{%- render 'asset' with 'template-article.css' -%}

{%- liquid
  if comment.status == 'pending'
    assign number_of_comments = article.comments_count | plus: 1
  else
    assign number_of_comments = article.comments_count
  endif
-%}

<style>
  #shopify-section-{{ section.id }}.shopify-section {
    overflow: visible;
  }
</style>

<section
  class="
    article
    {% if settings.enable_section_animations and section.settings.enable_animation %}
      animation
      animation--article
    {% endif %}
    link-color-scheme--{{ section.settings.link_color_scheme }}
  "
  style="
    {% if section.settings.content_width == 'custom' %}
      --content-width: {{ section.settings.custom_content_width }}px;
    {% endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="article"
>
  <div class="article__inner">
    <article itemscope>
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'header_content' -%}
            {%- liquid
              assign tag_el = 'span'
              if blog
                assign tag_el = 'a'
              endif
            -%}
            {%- capture tag_list -%}
              {%- if block.settings.show_tags and article.tags.size > 0 -%}
                {%- liquid
                  assign tag = article.tags.first
                  assign tag_color = ''

                  if tag == settings.tag_1_label
                    assign tag_color = settings.tag_1_color
                  elsif tag == settings.tag_2_label
                    assign tag_color = settings.tag_2_color
                  endif
                -%}
                <div class="article-tags__item{% if tag_color != blank %} article-tags__item-color{% endif %}">
                  <{{ tag_el }}
                    {%- if blog -%}
                      href="{{ blog.url }}/tagged/{{ tag | handleize }}"
                    {%- endif -%}
                    class="article-tags__tag fs-body-50"
                    {% if tag_color != blank %}
                      style="--tag-bg: {{ tag_color }};"
                    {% endif %}
                  >
                    {{ tag }}
                  </{{ tag_el }}>
                </div>
              {%- endif -%}
            {%- endcapture -%}

            <div
              class="article__intro {% if article.image != blank %}article__intro--has-image{% endif %}"
              {% if block.settings.intro_background != blank %}
                style="background-color: {{ block.settings.intro_background }};"
              {% endif %}
              {{ block.shopify_attributes }}
            >
              {%- if block.settings.show_breadcrumbs -%}
                <div class="article__breadcrumbs">
                  {%- render 'breadcrumbs', show_breadcrumbs: true -%}
                </div>
              {%- endif -%}
              <div class="article__intro-inner">
                <div class="article__intro-text">
                  <header class="article__header">
                    <div
                      class="article__header-inner"
                      style="
                        {% if section.settings.content_width == 'custom' %}
                          --content-width: {{ section.settings.custom_content_width }}px;
                        {% endif %}
                      "
                    >
                      {%- if tag_list.size > 0 -%}
                        <div class="article__tags">
                          {{ tag_list }}
                        </div>
                      {%- endif -%}

                      <h1 class="article__heading article__heading--intro ff-heading fs-heading-display-3">
                        {{ article.title }}
                      </h1>
                      {%- if block.settings.show_author or block.settings.show_date -%}
                        <p class="article__meta article__meta--intro fs-body-75">
                          {%- if block.settings.show_author -%}
                            <span>
                              {{- 'blogs.article.by' | t }}
                              {{ article.author -}}
                            </span>
                          {%- endif -%}

                          {%- if block.settings.show_date -%}
                            {{ article.published_at | time_tag: format: 'abbreviated_date' }}
                          {%- endif -%}
                        </p>
                      {%- endif -%}
                      {%- if block.settings.show_social_icons -%}
                        <div class="article__social-sharing article__social-sharing--intro">
                          <span class="article__social-sharing-text fs-body-50 ff-body">{{- 'general.social.share' | t -}}:</span>
                          {% render 'social-icons', position: 'left' %}
                        </div>
                      {%- endif -%}
                    </div>
                  </header>
                </div>

                {%- if article.image != blank -%}
                  <div class="article__image-container">
                    {%-
                      render 'image' with
                      wrapper_class: "article__image-inner",
                      image: article.image,
                      aspect_ratio: 'externally_set',
                      object_fit: 'cover',
                      sizes: "(min-width: 720px) 50vw, 100vw",
                      focal_point: 'image_presentation',
                      animate: true,
                      prioritize_loading: true
                    -%}
                  </div>
                {%- endif -%}
              </div>
            </div>
          {%- when 'content' -%}
            {%- if article.content != blank or block.settings.featured_products != blank -%}
              <div class="article-content__wrapper section">
                <div class="article-content__inner article__inner" {{ block.shopify_attributes }}>
                  <aside class="article-content__info">
                    {%- render 'blog-sidebar-article',
                      show_toc: true,
                      toc_title: block.settings.toc_title,
                      show_categories: block.settings.show_shop_product_categories,
                      categories_title: block.settings.shop_product_categories_title,
                      collection_handles: block.settings.collection_handles,
                      container_class: 'blog-sidebar-article--desktop'
                    -%}

                    {%- if block.settings.featured_products != blank -%}
                      <div class="article-featured-product__inner">
                        {%- render 'featured-product-article',
                          title: block.settings.left_column_title,
                          title_2: block.settings.left_column_title_2,
                          sub_title: block.settings.left_column_sub_title,
                          products: block.settings.featured_products,
                          max_product: block.settings.max_featured_products
                        %}
                      </div>
                    {%- endif -%}
                  </aside>

                  {%- if article.content != blank -%}
                    <div class="article-content__content">
                      <div class="article__block-inner">
                        <div class="article__rte rte rte--article fs-body-100">
                          {{- article.content -}}
                        </div>

                        {%- render 'blog-sidebar-article',
                          show_toc: false,
                          toc_title: block.settings.toc_title,
                          show_categories: block.settings.show_shop_product_categories,
                          categories_title: block.settings.shop_product_categories_title,
                          collection_handles: block.settings.collection_handles,
                          container_class: 'blog-sidebar-article--mobile'
                        -%}
                      </div>
                    </div>
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}
          {%- when 'pagination' -%}
            {%- if blog.previous_article or blog.next_article -%}
              <div class="article__pagination" {{ block.shopify_attributes }}>
                <div class="article__block-inner">
                  {%- if blog.previous_article -%}
                    <div class="article__pagination-item article__pagination-item--prev">
                      <a href="{{ blog.previous_article }}" class="article__pagination-prev btn btn--callout">
                        <span>
                          {{ 'blogs.article.pagination.previous' | t }}
                        </span>
                      </a>
                    </div>
                  {%- endif -%}

                  {%- if blog.next_article -%}
                    <div class="article__pagination-item article__pagination-item--next">
                      <a href="{{ blog.next_article }}" class="article__pagination-next btn btn--callout">
                        <span>
                          {{ 'blogs.article.pagination.next' | t }}
                        </span>
                      </a>
                    </div>
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </article>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main_article.name",
  "tag": "section",
  "settings": [
    {
      "type": "radio",
      "id": "content_width",
      "label": "t:shared.settings.section_style.content_width.label",
      "options": [
        { "value": "full", "label": "t:shared.settings.section_style.content_width.option_full" },
        { "value": "custom", "label": "t:shared.settings.section_style.content_width.option_custom" }
      ],
      "default": "custom"
    },
    {
      "type": "range",
      "id": "custom_content_width",
      "label": "t:shared.settings.section_style.custom_content_width.label",
      "unit": "px",
      "min": 600,
      "max": 1000,
      "step": 20,
      "default": 720
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "id": "enable_animation",
      "type": "checkbox",
      "label": "t:shared.settings.section_style.enable_animation.label",
      "info": "t:shared.settings.section_style.enable_animation.info",
      "default": true
    },
    {
      "type": "select",
      "id": "link_color_scheme",
      "label": "t:shared.settings.link_color_scheme.label",
      "options": [
        {
          "value": "light",
          "label": "t:shared.settings.link_color_scheme.option_light"
        },
        {
          "value": "dark",
          "label": "t:shared.settings.link_color_scheme.option_dark"
        }
      ],
      "default": "dark"
    }
  ],
  "blocks": [
    {
      "type": "header_content",
      "name": "t:sections.main_article.blocks.header_content.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.main_article.blocks.header_content.header_background.content"
        },
        {
          "type": "color",
          "id": "intro_background",
          "label": "t:sections.main_article.blocks.header_content.intro_background.label"
        },
        {
          "type": "header",
          "content": "t:sections.main_article.blocks.header_content.header_title.content"
        },
        {
          "type": "checkbox",
          "id": "show_breadcrumbs",
          "label": "t:shared.settings.show_breadcrumbs.label",
          "default": true
        },
        {
          "id": "show_tags",
          "type": "checkbox",
          "label": "t:sections.main_article.blocks.title.settings.show_tags.label",
          "default": true
        },
        {
          "id": "show_author",
          "type": "checkbox",
          "label": "t:sections.main_article.blocks.title.settings.show_author.label",
          "default": false
        },
        {
          "id": "show_date",
          "type": "checkbox",
          "label": "t:sections.main_article.blocks.title.settings.show_date.label",
          "default": false
        },
        {
          "id": "show_social_icons",
          "type": "checkbox",
          "label": "t:sections.main_article.blocks.header_content.show_social_icons.label",
          "default": true
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main_article.blocks.content.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.main_article.blocks.content.header_featured_products.content"
        },
        {
          "type": "text",
          "id": "left_column_title",
          "label": "t:sections.main_article.blocks.content.left_column_title.label",
          "default": "Skill Level - Easy"
        },
        {
          "type": "text",
          "id": "left_column_title_2",
          "label": "t:sections.main_article.blocks.content.left_column_title_2.label",
          "default": "Makes - 4 to 6 servings"
        },
        {
          "type": "text",
          "id": "left_column_sub_title",
          "label": "t:sections.main_article.blocks.content.left_column_sub_title.label",
          "default": "Made with:"
        },
        {
          "type": "product_list",
          "id": "featured_products",
          "label": "t:sections.main_article.blocks.content.featured_products.label"
        },
        {
          "type": "range",
          "id": "max_featured_products",
          "min": 1,
          "max": 10,
          "step": 1,
          "label": "t:sections.main_article.blocks.content.max_featured_products.label",
          "default": 2
        },
        {
          "type": "header",
          "content": "t:sections.main_article.blocks.content.header_sidebar.content"
        },
        {
          "type": "checkbox",
          "id": "show_shop_product_categories",
          "label": "t:sections.main_article.blocks.content.show_shop_product_categories.label",
          "default": true
        },
        {
          "type": "text",
          "id": "toc_title",
          "label": "t:sections.main_article.blocks.content.toc_title.label",
          "default": "Table of Contents"
        },
        {
          "type": "text",
          "id": "shop_product_categories_title",
          "label": "t:sections.main_article.blocks.content.shop_product_categories_title.label",
          "default": "Shop Product Categories"
        },
        {
          "type": "textarea",
          "id": "collection_handles",
          "label": "t:sections.main_article.blocks.content.collection_handles.label",
          "info": "t:sections.main_article.blocks.content.collection_handles.info",
          "default": "mini-split-single-zone,mini-split-multi-zone,mini-split-heat-pump,mini-split-energy-star,window-ac,portable-ac"
        }
      ]
    },
    {
      "type": "pagination",
      "name": "t:sections.main_article.blocks.pagination.name",
      "limit": 1
    }
  ]
}
{% endschema %}
