{%- render 'asset' with '/frontend/styles/modules/component-shoppable.css' -%}
{%- liquid
  assign non_image_half = 100 | minus: section.settings.image_size
  assign non_image_half = non_image_half | divided_by: 100.00
  assign product_list = section.settings.product_list
-%}

{%- assign image_sizes_fraction = non_image_half | times: 0.55 -%}
{%- capture image_sizes -%}
  (min-width: 960px) calc(((100vw - (2 * clamp(18px, 3.3vw, 3.3vw))) * {{ image_sizes_fraction }}) - 34px), 160px
{%- endcapture -%}

{%- capture swiper_content -%}
  <div class="shoppable-feature__carousel-outer">
    <div class="shoppable-feature__carousel swiper">
      <div class="shoppable-feature__carousel-inner swiper-wrapper">
        {%- for block in section.blocks -%}
          <div
            class="swiper-slide"
            {% unless forloop.first %}
              inert
            {% endunless %}
          >
            {% render 'product-card-mini', prod: block.settings.product_item, index: forloop.index, image_sizes: image_sizes %}
          </div>
        {%- else -%}
          <div
            class="swiper-slide"
            {% unless forloop.first %}
              inert
            {% endunless %}
          >
            {% render 'product-card-mini', placeholder: true, index: forloop.index, image_sizes: image_sizes %}
          </div>
        {%- endfor -%}
      </div>
    </div>
    <button class="slider-nav-button slider-nav-button-prev" title="{{ 'general.accessibility.previous' | t }}">
      {% render 'icon', icon: 'chevron' %}
    </button>
    <button class="slider-nav-button slider-nav-button-next" title="{{ 'general.accessibility.next' | t }}">
      {% render 'icon', icon: 'chevron' %}
    </button>
    <div class="swiper-pagination fs-body-50"></div>
  </div>
{%- endcapture %}

{%- capture popup_content_desktop -%}
  {%- if product_list.count > 0 -%}
    {%- for item in product_list -%}
      {% render 'product-card-mini',
        prod: item,
        index: forloop.index,
        image_sizes: image_sizes,
        class: 'product-card-mini--shoppable-image-popup',
        shoppable_image_layout: true,
        form_id: 'shoppable-popup-desktop-' | append: section.id | append: '-' | append: forloop.index
      %}
    {%- endfor -%}
  {%- else -%}
    {%- for block in section.blocks -%}
      {% render 'product-card-mini',
        prod: block.settings.product_item,
        index: forloop.index,
        image_sizes: image_sizes,
        class: 'product-card-mini--shoppable-image-popup',
        shoppable_image_layout: true,
        form_id: 'shoppable-popup-desktop-' | append: section.id | append: '-' | append: forloop.index
      %}
    {%- else -%}
      {% render 'product-card-mini',
        placeholder: true,
        index: 1,
        image_sizes: image_sizes,
        class: 'product-card-mini--shoppable-image-popup',
        shoppable_image_layout: true,
        form_id: 'shoppable-popup-desktop-' | append: section.id | append: '-1'
      %}
    {%- endfor -%}
  {%- endif -%}
{%- endcapture -%}

{%- capture popup_content_drawer -%}
  {%- if product_list.count > 0 -%}
    {%- for item in product_list -%}
      {% render 'product-card-mini',
        prod: item,
        index: forloop.index,
        image_sizes: image_sizes,
        class: 'product-card-mini--shoppable-image-popup',
        shoppable_image_layout: true,
        form_id: 'shoppable-popup-drawer-' | append: section.id | append: '-' | append: forloop.index
      %}
    {%- endfor -%}
  {%- else -%}
    {%- for block in section.blocks -%}
      {% render 'product-card-mini',
        prod: block.settings.product_item,
        index: forloop.index,
        image_sizes: image_sizes,
        class: 'product-card-mini--shoppable-image-popup',
        shoppable_image_layout: true,
        form_id: 'shoppable-popup-drawer-' | append: section.id | append: '-' | append: forloop.index
      %}
    {%- else -%}
      {% render 'product-card-mini',
        placeholder: true,
        index: 1,
        image_sizes: image_sizes,
        class: 'product-card-mini--shoppable-image-popup',
        shoppable_image_layout: true,
        form_id: 'shoppable-popup-drawer-' | append: section.id | append: '-1'
      %}
    {%- endfor -%}
  {%- endif -%}
{%- endcapture -%}

{%- capture drawer_content -%}
  {%- if product_list.count > 0 -%}
    <div class="shoppable-image__drawer-content">
      <div class="shoppable-image__popup-inner">
        {{ popup_content_drawer }}
      </div>
    </div>
  {%- else -%}
    {{ swiper_content }}
  {%- endif -%}
{%- endcapture -%}

{%- assign popup_button_label = section.settings.popup_button_label | default: section.settings.link_text | default: 'View products' -%}
{%- capture popup_button_icon -%}
  {%- render 'icon', icon: 'shopping-bag', view_box_custom: '0 0 20 20' -%}
{%- endcapture -%}

<div
  data-section-id="{{ section.id }}"
  data-section-type="shoppable"
  data-show-hotspot-cards="true"
  class="
    shoppable-image
    shoppable-image--{{ section.settings.aspect_ratio }}
    section
    section--full-width
    section--divider-{{ section.settings.divider_style }}
    {{ section.settings.section_padding }}
    {% if settings.enable_section_animations and section.settings.enable_animation %}
      animation
      animation--shoppable-image
    {% endif %}
    link-color-scheme--{{ section.settings.link_color_scheme }}
  "
  style="
    --transparent-hotspot-background: {{ settings.color_text | color_to_rgb | replace: 'rgb', 'rgba' | replace: ')', ', .6)' }};
    --transparent-hotspot-background-darker: {{ settings.color_text | color_to_rgb | replace: 'rgb', 'rgba' | replace: ')', ', .8)' }};
  "
>
  <div class="section__inner">
    <div class="section-introduction animation--section-introduction">
      {%- unless section.settings.heading == blank -%}
        <{{ section.settings.heading_tag }} class="ff-heading fs-heading-3-base section-introduction__heading">{{ section.settings.heading }}</{{ section.settings.heading_tag }}>
      {%- endunless -%}

      {%- unless section.settings.subheading == blank -%}
        <div class="ff-body fs-body-100 rte section-introduction__subheading">{{ section.settings.subheading }}</div>
      {%- endunless -%}

      {%-
        render 'button-block'
        wrapper_class: "section-introduction__button",
        link: section.settings.link,
        label: section.settings.link_text,
        button_style: section.settings.button_style,
        button_color: section.settings.button_color,
        button_alignment: 'center',
      -%}
    </div>

    <div class="shoppable-image__image-container shoppable__image-container">
      <div class="shoppable-image__image-container-inner">
        <div class="shoppable-image__image-wrapper">
          {% render 'image',
            image: section.settings.image,
            mobile_image: section.settings.image_mobile,
            wrapper_class: 'shoppable-image__image',
            focal_point: 'image_presentation',
            aspect_ratio: section.settings.aspect_ratio,
            placeholder_name: 'collection-4',
            include_placeholder: true,
            placeholder_natural_fallback_ratio: 'landscape',
            sizes: '(min-width: 960px) calc(100vw - calc(2 * 3.3vw)), calc(100vw - calc(2 * clamp(18px, 3.3vw, 3.3vw)))',
            animate: true
          %}
          <div class="shoppable-image__popup">
            <button
              class="shoppable-image__popup-close"
              aria-label="{{ 'general.accessibility.close_modal' | t }}"
            >
              {% render 'icon', icon: 'close' %}
            </button>
            <div class="shoppable-image__gradient-top"></div>
            <div class="shoppable-image__popup-content relative">
              <div class="shoppable-image__popup-inner">
                {{ popup_content_desktop }}
              </div>
            </div>
            <div class="shoppable-image__gradient-bottom"></div>
          </div>
          {%-
            render 'button-block'
            wrapper_class: "shoppable-image__button section-introduction__button",
            label: popup_button_label,
            allow_linkless: true,
            type: 'button',
            button_attributes: 'data-trigger-modal',
            button_style: section.settings.button_style,
            button_color: section.settings.button_color,
            icon: popup_button_icon
          -%}
        </div>
      </div>

      {%- for block in section.blocks -%}
        {%
          render 'shoppable-item',
          block: block,
          index: forloop.index0,
          product_item: block.settings.product_item,
          horizontal_position: block.settings.horizontal_position,
          vertical_position: block.settings.vertical_position,
          aspect_ratio: section.settings.aspect_ratio,
        %}
      {%- endfor -%}
    </div>
  </div>
  {%- render 'mobile-drawer',
    class: 'shoppable-feature-mobile-drawer animation--shoppable-feature-mobile-drawer',
    content: drawer_content
  -%}
</div>

{% schema %}
{
  "name": "t:sections.shoppable_image.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ],
    "templates": [
      "password"
    ]
  },
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:sections.collection_sections_shared.settings.product_list.label",
      "limit": 6
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "t:sections.shoppable_image.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Mobile image"
    },
    {
      "id": "aspect_ratio",
      "type": "select",
      "label": "t:sections.shoppable_image.settings.aspect_ratio.label",
      "options": [
        {
          "label": "t:sections.shoppable_image.settings.aspect_ratio.options__1",
          "value": "square"
        },
        {
          "label": "t:sections.shoppable_image.settings.aspect_ratio.options__2",
          "value": "landscape"
        },
        {
          "label": "t:sections.shoppable_image.settings.aspect_ratio.options__3",
          "value": "portrait"
        },
        {
          "label": "t:shared.settings.aspect_ratio.option_natural",
          "value": "natural"
        }
      ],
      "default": "landscape"
    },
    {
      "type": "header",
      "content": "t:sections.shoppable_image.settings.text__header.content"
    },
    {
      "id": "heading",
      "type": "text",
      "label": "t:sections.shoppable_image.settings.heading.label",
      "default": "Shoppable image"
    },
    {
      "id": "heading_tag",
      "type": "select",
      "label": "t:shared.section_blocks.heading.settings.heading_tag.label",
      "default": "h2",
      "options": [
        {
          "value": "h2",
          "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h2"
        },
        {
          "value": "h3",
          "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h3"
        },
        {
          "value": "h4",
          "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h4"
        },
        {
          "value": "h5",
          "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h5"
        },
        {
          "value": "h6",
          "label": "t:shared.section_blocks.heading.settings.heading_tag.options.h6"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "t:shared.section_blocks.heading.settings.heading_tag.info"
    },
    {
      "id": "subheading",
      "type": "richtext",
      "label": "t:sections.shoppable_image.settings.subheading.label",
      "default": "<p>Use this section to highlight different products within a large image</p>"
    },
    {
      "type": "header",
      "content": "t:sections.shoppable_feature.settings.cta_header.content"
    },
    {
      "id": "link",
      "type": "url",
      "label": "t:sections.shoppable_feature.settings.link.label"
    },
    {
      "id": "link_text",
      "type": "text",
      "label": "t:sections.shoppable_feature.settings.link_text.label"
    },
    {
      "type": "text",
      "id": "popup_button_label",
      "label": "Popup button label",
      "default": "View products"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:shared.settings.button_style.label",
      "default": "btn--outline",
      "options": [
        {
          "value": "btn--solid",
          "label": "t:shared.settings.button_style.option_solid"
        },
        {
          "value": "btn--outline",
          "label": "t:shared.settings.button_style.option_outline"
        },
        {
          "value": "btn--callout",
          "label": "t:shared.settings.button_style.option_text"
        }
      ]
    },
    {
      "type": "select",
      "id": "button_color",
      "label": "t:shared.settings.button_color.label",
      "options": [
        {
          "value": "btn--dark",
          "label": "t:shared.settings.button_color.dark"
        },
        {
          "value": "btn--light",
          "label": "t:shared.settings.button_color.light"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "id": "enable_animation",
      "type": "checkbox",
      "label": "t:shared.settings.section_style.enable_animation.label",
      "info": "t:shared.settings.section_style.enable_animation.info",
      "default": true
    },
    {
      "type": "select",
      "id": "divider_style",
      "label": "t:shared.settings.section_style.divider_style.label",
      "default": "none",
      "options": [
        {
          "label": "t:shared.settings.section_style.divider_style.option_none",
          "value": "none"
        },
        {
          "label": "t:shared.settings.section_style.divider_style.option_solid",
          "value": "solid"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "t:shared.settings.section_style.section_padding.label",
      "default": "section--vertical-padding-top-bottom",
      "options": [
        {
          "label": "t:shared.settings.section_style.section_padding.option_none",
          "value": "section--vertical-padding-none"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_both",
          "value": "section--vertical-padding-top-bottom"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_top",
          "value": "section--vertical-padding-top-only"
        },
        {
          "label": "t:shared.settings.section_style.section_padding.option_bottom",
          "value": "section--vertical-padding-bottom-only"
        }
      ]
    },
    {
      "type": "select",
      "id": "link_color_scheme",
      "label": "t:shared.settings.link_color_scheme.label",
      "options": [
        {
          "value": "light",
          "label": "t:shared.settings.link_color_scheme.option_light"
        },
        {
          "value": "dark",
          "label": "t:shared.settings.link_color_scheme.option_dark"
        }
      ],
      "default": "dark"
    }
  ],
  "blocks": [
    {
      "type": "hotspot",
      "name": "t:sections.shoppable_image.blocks.hotspot.name",
      "limit": 6,
      "settings": [
        {
          "id": "product_item",
          "type": "product",
          "label": "t:sections.shoppable_image.blocks.hotspot.settings.product_item.label"
        },
        {
          "id": "horizontal_position",
          "type": "range",
          "label": "t:sections.shoppable_image.blocks.hotspot.settings.horizontal_position.label",
          "unit": "%",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50
        },
        {
          "id": "vertical_position",
          "type": "range",
          "label": "t:sections.shoppable_image.blocks.hotspot.settings.vertical_position.label",
          "unit": "%",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.shoppable_image.presets.name",
      "blocks": [
        {
          "type": "hotspot",
          "settings": {
            "horizontal_position": 34,
            "vertical_position": 72
          }
        },
        {
          "type": "hotspot",
          "settings": {
            "horizontal_position": 73,
            "vertical_position": 77
          }
        },
        {
          "type": "hotspot",
          "settings": {
            "horizontal_position": 57,
            "vertical_position": 30
          }
        }
      ]
    }
  ]
}
{% endschema %}
